=begin
#Solifyn API

#Welcome to the Solifyn API Reference. Leverage our secure endpoints to manage products and issue, validate, and manage software license keys programmatically.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module Solifyn
  class BrandsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Brand
    # Add a new brand identity under the current active business.
    # @param brand_create [BrandCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Brand]
    def brands_create(brand_create, opts = {})
      data, _status_code, _headers = brands_create_with_http_info(brand_create, opts)
      data
    end

    # Create Brand
    # Add a new brand identity under the current active business.
    # @param brand_create [BrandCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Brand, Integer, Hash)>] Brand data, response status code and response headers
    def brands_create_with_http_info(brand_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BrandsApi.brands_create ...'
      end
      # verify the required parameter 'brand_create' is set
      if @api_client.config.client_side_validation && brand_create.nil?
        fail ArgumentError, "Missing the required parameter 'brand_create' when calling BrandsApi.brands_create"
      end
      # resource path
      local_var_path = '/v1/user/brand'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(brand_create)

      # return_type
      return_type = opts[:debug_return_type] || 'Brand'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"BrandsApi.brands_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BrandsApi#brands_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve Brand
    # Retrieve details of a brand identity by ID.
    # @param id [String] The brand ID to retrieve
    # @param [Hash] opts the optional parameters
    # @return [Brand]
    def brands_get(id, opts = {})
      data, _status_code, _headers = brands_get_with_http_info(id, opts)
      data
    end

    # Retrieve Brand
    # Retrieve details of a brand identity by ID.
    # @param id [String] The brand ID to retrieve
    # @param [Hash] opts the optional parameters
    # @return [Array<(Brand, Integer, Hash)>] Brand data, response status code and response headers
    def brands_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BrandsApi.brands_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BrandsApi.brands_get"
      end
      # resource path
      local_var_path = '/v1/user/brand/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Brand'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"BrandsApi.brands_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BrandsApi#brands_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Brands
    # Retrieve all brands associated with the current business context.
    # @param [Hash] opts the optional parameters
    # @return [Array<Brand>]
    def brands_list(opts = {})
      data, _status_code, _headers = brands_list_with_http_info(opts)
      data
    end

    # List Brands
    # Retrieve all brands associated with the current business context.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<Brand>, Integer, Hash)>] Array<Brand> data, response status code and response headers
    def brands_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BrandsApi.brands_list ...'
      end
      # resource path
      local_var_path = '/v1/user/brands'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Brand>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"BrandsApi.brands_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BrandsApi#brands_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Brand
    # Update website, logo, description, or statement descriptors of a brand.
    # @param id [String] The brand ID to update
    # @param brand_update [BrandUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [Brand]
    def brands_update(id, brand_update, opts = {})
      data, _status_code, _headers = brands_update_with_http_info(id, brand_update, opts)
      data
    end

    # Update Brand
    # Update website, logo, description, or statement descriptors of a brand.
    # @param id [String] The brand ID to update
    # @param brand_update [BrandUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Brand, Integer, Hash)>] Brand data, response status code and response headers
    def brands_update_with_http_info(id, brand_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BrandsApi.brands_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BrandsApi.brands_update"
      end
      # verify the required parameter 'brand_update' is set
      if @api_client.config.client_side_validation && brand_update.nil?
        fail ArgumentError, "Missing the required parameter 'brand_update' when calling BrandsApi.brands_update"
      end
      # resource path
      local_var_path = '/v1/user/brand/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(brand_update)

      # return_type
      return_type = opts[:debug_return_type] || 'Brand'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"BrandsApi.brands_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BrandsApi#brands_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
