=begin
#Solifyn API

#Welcome to the Solifyn API Reference. Leverage our secure endpoints to manage products and issue, validate, and manage software license keys programmatically.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module Solifyn
  class BusinessesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get Platform Billing History
    # Retrieve history of SaaS subscription payments paid by this business to the platform.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def businesses_billing_history(opts = {})
      businesses_billing_history_with_http_info(opts)
      nil
    end

    # Get Platform Billing History
    # Retrieve history of SaaS subscription payments paid by this business to the platform.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def businesses_billing_history_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessesApi.businesses_billing_history ...'
      end
      # resource path
      local_var_path = '/v1/user/billing/history'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"BusinessesApi.businesses_billing_history",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessesApi#businesses_billing_history\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Rotate Whop API Keys
    # Generate and sync a new Whop Child Company API key (restricted to business owners).
    # @param [Hash] opts the optional parameters
    # @return [WhopApiKeysRotation]
    def merchants_generate_api_keys(opts = {})
      data, _status_code, _headers = merchants_generate_api_keys_with_http_info(opts)
      data
    end

    # Rotate Whop API Keys
    # Generate and sync a new Whop Child Company API key (restricted to business owners).
    # @param [Hash] opts the optional parameters
    # @return [Array<(WhopApiKeysRotation, Integer, Hash)>] WhopApiKeysRotation data, response status code and response headers
    def merchants_generate_api_keys_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessesApi.merchants_generate_api_keys ...'
      end
      # resource path
      local_var_path = '/v1/user/whop-api-keys'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WhopApiKeysRotation'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"BusinessesApi.merchants_generate_api_keys",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessesApi#merchants_generate_api_keys\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Page configuration
    # Modify store page content configs, banner images, or avatar details.
    # @param user_theme_update [UserThemeUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [UserPage]
    def merchants_update_page(user_theme_update, opts = {})
      data, _status_code, _headers = merchants_update_page_with_http_info(user_theme_update, opts)
      data
    end

    # Update Page configuration
    # Modify store page content configs, banner images, or avatar details.
    # @param user_theme_update [UserThemeUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UserPage, Integer, Hash)>] UserPage data, response status code and response headers
    def merchants_update_page_with_http_info(user_theme_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessesApi.merchants_update_page ...'
      end
      # verify the required parameter 'user_theme_update' is set
      if @api_client.config.client_side_validation && user_theme_update.nil?
        fail ArgumentError, "Missing the required parameter 'user_theme_update' when calling BusinessesApi.merchants_update_page"
      end
      # resource path
      local_var_path = '/v1/user/page'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(user_theme_update)

      # return_type
      return_type = opts[:debug_return_type] || 'UserPage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"BusinessesApi.merchants_update_page",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessesApi#merchants_update_page\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Merchant Settings
    # Update profile parameters, SEO, Google analytics, and email notification properties.
    # @param user_settings_update [UserSettingsUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [UserSettings]
    def merchants_update_settings(user_settings_update, opts = {})
      data, _status_code, _headers = merchants_update_settings_with_http_info(user_settings_update, opts)
      data
    end

    # Update Merchant Settings
    # Update profile parameters, SEO, Google analytics, and email notification properties.
    # @param user_settings_update [UserSettingsUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UserSettings, Integer, Hash)>] UserSettings data, response status code and response headers
    def merchants_update_settings_with_http_info(user_settings_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessesApi.merchants_update_settings ...'
      end
      # verify the required parameter 'user_settings_update' is set
      if @api_client.config.client_side_validation && user_settings_update.nil?
        fail ArgumentError, "Missing the required parameter 'user_settings_update' when calling BusinessesApi.merchants_update_settings"
      end
      # resource path
      local_var_path = '/v1/user/settings'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(user_settings_update)

      # return_type
      return_type = opts[:debug_return_type] || 'UserSettings'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"BusinessesApi.merchants_update_settings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessesApi#merchants_update_settings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Theme
    # Update colors, fonts, avatar, or banner settings for the store.
    # @param user_theme_update [UserThemeUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [UserTheme]
    def merchants_update_theme(user_theme_update, opts = {})
      data, _status_code, _headers = merchants_update_theme_with_http_info(user_theme_update, opts)
      data
    end

    # Update Theme
    # Update colors, fonts, avatar, or banner settings for the store.
    # @param user_theme_update [UserThemeUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UserTheme, Integer, Hash)>] UserTheme data, response status code and response headers
    def merchants_update_theme_with_http_info(user_theme_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessesApi.merchants_update_theme ...'
      end
      # verify the required parameter 'user_theme_update' is set
      if @api_client.config.client_side_validation && user_theme_update.nil?
        fail ArgumentError, "Missing the required parameter 'user_theme_update' when calling BusinessesApi.merchants_update_theme"
      end
      # resource path
      local_var_path = '/v1/user/theme'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(user_theme_update)

      # return_type
      return_type = opts[:debug_return_type] || 'UserTheme'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"BusinessesApi.merchants_update_theme",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessesApi#merchants_update_theme\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
