=begin
#Solifyn API

#Welcome to the Solifyn API Reference. Leverage our secure endpoints to manage products and issue, validate, and manage software license keys programmatically.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module Solifyn
  class CheckoutLinksApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Checkout Link
    # Generate a new checkout session link.
    # @param create_checkout_link_dto [CreateCheckoutLinkDto] 
    # @param [Hash] opts the optional parameters
    # @return [CheckoutLinkResponseDto]
    def checkout_links_create(create_checkout_link_dto, opts = {})
      data, _status_code, _headers = checkout_links_create_with_http_info(create_checkout_link_dto, opts)
      data
    end

    # Create Checkout Link
    # Generate a new checkout session link.
    # @param create_checkout_link_dto [CreateCheckoutLinkDto] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CheckoutLinkResponseDto, Integer, Hash)>] CheckoutLinkResponseDto data, response status code and response headers
    def checkout_links_create_with_http_info(create_checkout_link_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CheckoutLinksApi.checkout_links_create ...'
      end
      # verify the required parameter 'create_checkout_link_dto' is set
      if @api_client.config.client_side_validation && create_checkout_link_dto.nil?
        fail ArgumentError, "Missing the required parameter 'create_checkout_link_dto' when calling CheckoutLinksApi.checkout_links_create"
      end
      # resource path
      local_var_path = '/v1/checkout-links'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_checkout_link_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'CheckoutLinkResponseDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"CheckoutLinksApi.checkout_links_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CheckoutLinksApi#checkout_links_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Checkout Link
    # Permanently remove a checkout link.
    # @param id [String] Checkout Link ID
    # @param [Hash] opts the optional parameters
    # @return [CheckoutLinkMessageResponseDto]
    def checkout_links_delete(id, opts = {})
      data, _status_code, _headers = checkout_links_delete_with_http_info(id, opts)
      data
    end

    # Delete Checkout Link
    # Permanently remove a checkout link.
    # @param id [String] Checkout Link ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(CheckoutLinkMessageResponseDto, Integer, Hash)>] CheckoutLinkMessageResponseDto data, response status code and response headers
    def checkout_links_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CheckoutLinksApi.checkout_links_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CheckoutLinksApi.checkout_links_delete"
      end
      # resource path
      local_var_path = '/v1/checkout-links/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CheckoutLinkMessageResponseDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"CheckoutLinksApi.checkout_links_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CheckoutLinksApi#checkout_links_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve Checkout Link Details
    # Get details of a specific checkout link by ID (public access).
    # @param id [String] Checkout Link ID
    # @param [Hash] opts the optional parameters
    # @return [CheckoutLinkResponseDto]
    def checkout_links_get(id, opts = {})
      data, _status_code, _headers = checkout_links_get_with_http_info(id, opts)
      data
    end

    # Retrieve Checkout Link Details
    # Get details of a specific checkout link by ID (public access).
    # @param id [String] Checkout Link ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(CheckoutLinkResponseDto, Integer, Hash)>] CheckoutLinkResponseDto data, response status code and response headers
    def checkout_links_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CheckoutLinksApi.checkout_links_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CheckoutLinksApi.checkout_links_get"
      end
      # resource path
      local_var_path = '/v1/checkout-links/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CheckoutLinkResponseDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"CheckoutLinksApi.checkout_links_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CheckoutLinksApi#checkout_links_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Checkout Links
    # Retrieve all active checkout session links for the active business.
    # @param [Hash] opts the optional parameters
    # @return [Array<CheckoutLinkResponseDto>]
    def checkout_links_list(opts = {})
      data, _status_code, _headers = checkout_links_list_with_http_info(opts)
      data
    end

    # List Checkout Links
    # Retrieve all active checkout session links for the active business.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<CheckoutLinkResponseDto>, Integer, Hash)>] Array<CheckoutLinkResponseDto> data, response status code and response headers
    def checkout_links_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CheckoutLinksApi.checkout_links_list ...'
      end
      # resource path
      local_var_path = '/v1/checkout-links'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<CheckoutLinkResponseDto>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"CheckoutLinksApi.checkout_links_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CheckoutLinksApi#checkout_links_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Checkout Link
    # Update title, custom pricing, redirection URLs, or friendly inputs for a checkout link.
    # @param id [String] Checkout Link ID
    # @param update_checkout_link_dto [UpdateCheckoutLinkDto] 
    # @param [Hash] opts the optional parameters
    # @return [CheckoutLinkMessageResponseDto]
    def checkout_links_update(id, update_checkout_link_dto, opts = {})
      data, _status_code, _headers = checkout_links_update_with_http_info(id, update_checkout_link_dto, opts)
      data
    end

    # Update Checkout Link
    # Update title, custom pricing, redirection URLs, or friendly inputs for a checkout link.
    # @param id [String] Checkout Link ID
    # @param update_checkout_link_dto [UpdateCheckoutLinkDto] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CheckoutLinkMessageResponseDto, Integer, Hash)>] CheckoutLinkMessageResponseDto data, response status code and response headers
    def checkout_links_update_with_http_info(id, update_checkout_link_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CheckoutLinksApi.checkout_links_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CheckoutLinksApi.checkout_links_update"
      end
      # verify the required parameter 'update_checkout_link_dto' is set
      if @api_client.config.client_side_validation && update_checkout_link_dto.nil?
        fail ArgumentError, "Missing the required parameter 'update_checkout_link_dto' when calling CheckoutLinksApi.checkout_links_update"
      end
      # resource path
      local_var_path = '/v1/checkout-links/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_checkout_link_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'CheckoutLinkMessageResponseDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"CheckoutLinksApi.checkout_links_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CheckoutLinksApi#checkout_links_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
