=begin
#Solifyn API

#Welcome to the Solifyn API Reference. Leverage our secure endpoints to manage products and issue, validate, and manage software license keys programmatically.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module Solifyn
  class CheckoutApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Checkout Session
    # Create a new payment configuration for a product. Returns redirect URLs pointing to the custom checkout layout.
    # @param create_checkout_dto [CreateCheckoutDto] 
    # @param [Hash] opts the optional parameters
    # @return [CheckoutResponseDto]
    def checkout_create(create_checkout_dto, opts = {})
      data, _status_code, _headers = checkout_create_with_http_info(create_checkout_dto, opts)
      data
    end

    # Create Checkout Session
    # Create a new payment configuration for a product. Returns redirect URLs pointing to the custom checkout layout.
    # @param create_checkout_dto [CreateCheckoutDto] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CheckoutResponseDto, Integer, Hash)>] CheckoutResponseDto data, response status code and response headers
    def checkout_create_with_http_info(create_checkout_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CheckoutApi.checkout_create ...'
      end
      # verify the required parameter 'create_checkout_dto' is set
      if @api_client.config.client_side_validation && create_checkout_dto.nil?
        fail ArgumentError, "Missing the required parameter 'create_checkout_dto' when calling CheckoutApi.checkout_create"
      end
      # resource path
      local_var_path = '/v1/checkout/create'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_checkout_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'CheckoutResponseDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CheckoutApi.checkout_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CheckoutApi#checkout_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Collection Checkout Session
    # Create a new payment configuration for a product bundle/collection.
    # @param create_collection_checkout_dto [CreateCollectionCheckoutDto] 
    # @param [Hash] opts the optional parameters
    # @return [CheckoutResponseDto]
    def checkout_create_collection(create_collection_checkout_dto, opts = {})
      data, _status_code, _headers = checkout_create_collection_with_http_info(create_collection_checkout_dto, opts)
      data
    end

    # Create Collection Checkout Session
    # Create a new payment configuration for a product bundle/collection.
    # @param create_collection_checkout_dto [CreateCollectionCheckoutDto] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CheckoutResponseDto, Integer, Hash)>] CheckoutResponseDto data, response status code and response headers
    def checkout_create_collection_with_http_info(create_collection_checkout_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CheckoutApi.checkout_create_collection ...'
      end
      # verify the required parameter 'create_collection_checkout_dto' is set
      if @api_client.config.client_side_validation && create_collection_checkout_dto.nil?
        fail ArgumentError, "Missing the required parameter 'create_collection_checkout_dto' when calling CheckoutApi.checkout_create_collection"
      end
      # resource path
      local_var_path = '/v1/checkout/collection/create'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_collection_checkout_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'CheckoutResponseDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CheckoutApi.checkout_create_collection",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CheckoutApi#checkout_create_collection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Setup Checkout Configuration
    # Create a new checkout session in setup mode for collecting cards without immediate charge.
    # @param create_setup_checkout_dto [CreateSetupCheckoutDto] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def checkout_create_setup(create_setup_checkout_dto, opts = {})
      checkout_create_setup_with_http_info(create_setup_checkout_dto, opts)
      nil
    end

    # Create Setup Checkout Configuration
    # Create a new checkout session in setup mode for collecting cards without immediate charge.
    # @param create_setup_checkout_dto [CreateSetupCheckoutDto] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def checkout_create_setup_with_http_info(create_setup_checkout_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CheckoutApi.checkout_create_setup ...'
      end
      # verify the required parameter 'create_setup_checkout_dto' is set
      if @api_client.config.client_side_validation && create_setup_checkout_dto.nil?
        fail ArgumentError, "Missing the required parameter 'create_setup_checkout_dto' when calling CheckoutApi.checkout_create_setup"
      end
      # resource path
      local_var_path = '/v1/checkout/setup-configuration'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_setup_checkout_dto)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CheckoutApi.checkout_create_setup",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CheckoutApi#checkout_create_setup\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Checkout Session Details
    # Retrieve checkout details to mount the custom embedded checkout.
    # @param id [String] Internal database checkout session ID
    # @param [Hash] opts the optional parameters
    # @return [CheckoutSessionDetailsDto]
    def checkout_get_session(id, opts = {})
      data, _status_code, _headers = checkout_get_session_with_http_info(id, opts)
      data
    end

    # Get Checkout Session Details
    # Retrieve checkout details to mount the custom embedded checkout.
    # @param id [String] Internal database checkout session ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(CheckoutSessionDetailsDto, Integer, Hash)>] CheckoutSessionDetailsDto data, response status code and response headers
    def checkout_get_session_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CheckoutApi.checkout_get_session ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CheckoutApi.checkout_get_session"
      end
      # resource path
      local_var_path = '/v1/checkout/session/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CheckoutSessionDetailsDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CheckoutApi.checkout_get_session",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CheckoutApi#checkout_get_session\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Converted Price Preview
    # Pre-calculate target currencies, applied discounts, and PWYW values before mounting the checkout.
    # @param product_id [String] Public product ID
    # @param addons [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :currency Target currency code (ISO)
    # @option opts [String] :discount Percentage discount rate
    # @option opts [String] :qty Number of product units
    # @option opts [String] :custom_price Override price for PWYW products
    # @return [PricePreviewResponseDto]
    def checkout_price_preview(product_id, addons, opts = {})
      data, _status_code, _headers = checkout_price_preview_with_http_info(product_id, addons, opts)
      data
    end

    # Get Converted Price Preview
    # Pre-calculate target currencies, applied discounts, and PWYW values before mounting the checkout.
    # @param product_id [String] Public product ID
    # @param addons [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :currency Target currency code (ISO)
    # @option opts [String] :discount Percentage discount rate
    # @option opts [String] :qty Number of product units
    # @option opts [String] :custom_price Override price for PWYW products
    # @return [Array<(PricePreviewResponseDto, Integer, Hash)>] PricePreviewResponseDto data, response status code and response headers
    def checkout_price_preview_with_http_info(product_id, addons, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CheckoutApi.checkout_price_preview ...'
      end
      # verify the required parameter 'product_id' is set
      if @api_client.config.client_side_validation && product_id.nil?
        fail ArgumentError, "Missing the required parameter 'product_id' when calling CheckoutApi.checkout_price_preview"
      end
      # verify the required parameter 'addons' is set
      if @api_client.config.client_side_validation && addons.nil?
        fail ArgumentError, "Missing the required parameter 'addons' when calling CheckoutApi.checkout_price_preview"
      end
      # resource path
      local_var_path = '/v1/checkout/price-preview'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'productId'] = product_id
      query_params[:'addons'] = addons
      query_params[:'currency'] = opts[:'currency'] if !opts[:'currency'].nil?
      query_params[:'discount'] = opts[:'discount'] if !opts[:'discount'].nil?
      query_params[:'qty'] = opts[:'qty'] if !opts[:'qty'].nil?
      query_params[:'customPrice'] = opts[:'custom_price'] if !opts[:'custom_price'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PricePreviewResponseDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CheckoutApi.checkout_price_preview",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CheckoutApi#checkout_price_preview\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Supported Currencies
    # Retrieve all currencies supported for payouts and conversions.
    # @param [Hash] opts the optional parameters
    # @return [Array<SupportedCurrenciesResponseDto>]
    def checkout_supported_currencies(opts = {})
      data, _status_code, _headers = checkout_supported_currencies_with_http_info(opts)
      data
    end

    # Get Supported Currencies
    # Retrieve all currencies supported for payouts and conversions.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<SupportedCurrenciesResponseDto>, Integer, Hash)>] Array<SupportedCurrenciesResponseDto> data, response status code and response headers
    def checkout_supported_currencies_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CheckoutApi.checkout_supported_currencies ...'
      end
      # resource path
      local_var_path = '/v1/checkout/supported-currencies'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<SupportedCurrenciesResponseDto>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CheckoutApi.checkout_supported_currencies",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CheckoutApi#checkout_supported_currencies\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
