=begin
#Solifyn API

#Welcome to the Solifyn API Reference. Leverage our secure endpoints to manage products and issue, validate, and manage software license keys programmatically.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module Solifyn
  class CollectionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add Products to Collection
    # Add one or more products to a collection. If a product already exists, its quantity is updated.
    # @param id [String] Collection ID
    # @param add_collection_products_dto [AddCollectionProductsDto] 
    # @param [Hash] opts the optional parameters
    # @return [CollectionResponseDto]
    def collections_add_products(id, add_collection_products_dto, opts = {})
      data, _status_code, _headers = collections_add_products_with_http_info(id, add_collection_products_dto, opts)
      data
    end

    # Add Products to Collection
    # Add one or more products to a collection. If a product already exists, its quantity is updated.
    # @param id [String] Collection ID
    # @param add_collection_products_dto [AddCollectionProductsDto] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CollectionResponseDto, Integer, Hash)>] CollectionResponseDto data, response status code and response headers
    def collections_add_products_with_http_info(id, add_collection_products_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CollectionsApi.collections_add_products ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CollectionsApi.collections_add_products"
      end
      # verify the required parameter 'add_collection_products_dto' is set
      if @api_client.config.client_side_validation && add_collection_products_dto.nil?
        fail ArgumentError, "Missing the required parameter 'add_collection_products_dto' when calling CollectionsApi.collections_add_products"
      end
      # resource path
      local_var_path = '/v1/collections/{id}/products'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(add_collection_products_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'CollectionResponseDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"CollectionsApi.collections_add_products",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CollectionsApi#collections_add_products\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Archive Collection
    # Deactivate and move a collection to archives.
    # @param id [String] Collection ID
    # @param [Hash] opts the optional parameters
    # @return [CollectionArchivedResponseDto]
    def collections_archive(id, opts = {})
      data, _status_code, _headers = collections_archive_with_http_info(id, opts)
      data
    end

    # Archive Collection
    # Deactivate and move a collection to archives.
    # @param id [String] Collection ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(CollectionArchivedResponseDto, Integer, Hash)>] CollectionArchivedResponseDto data, response status code and response headers
    def collections_archive_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CollectionsApi.collections_archive ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CollectionsApi.collections_archive"
      end
      # resource path
      local_var_path = '/v1/collections/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CollectionArchivedResponseDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"CollectionsApi.collections_archive",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CollectionsApi#collections_archive\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Collection
    # Generate a new product collection for checkout packaging.
    # @param create_collection_dto [CreateCollectionDto] 
    # @param [Hash] opts the optional parameters
    # @return [CollectionResponseDto]
    def collections_create(create_collection_dto, opts = {})
      data, _status_code, _headers = collections_create_with_http_info(create_collection_dto, opts)
      data
    end

    # Create Collection
    # Generate a new product collection for checkout packaging.
    # @param create_collection_dto [CreateCollectionDto] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CollectionResponseDto, Integer, Hash)>] CollectionResponseDto data, response status code and response headers
    def collections_create_with_http_info(create_collection_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CollectionsApi.collections_create ...'
      end
      # verify the required parameter 'create_collection_dto' is set
      if @api_client.config.client_side_validation && create_collection_dto.nil?
        fail ArgumentError, "Missing the required parameter 'create_collection_dto' when calling CollectionsApi.collections_create"
      end
      # resource path
      local_var_path = '/v1/collections'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_collection_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'CollectionResponseDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"CollectionsApi.collections_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CollectionsApi#collections_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove Product from Collection
    # Remove a product from a collection.
    # @param id [String] Collection ID
    # @param product_id [String] Product ID
    # @param [Hash] opts the optional parameters
    # @return [CollectionProductDeletedResponseDto]
    def collections_delete_product(id, product_id, opts = {})
      data, _status_code, _headers = collections_delete_product_with_http_info(id, product_id, opts)
      data
    end

    # Remove Product from Collection
    # Remove a product from a collection.
    # @param id [String] Collection ID
    # @param product_id [String] Product ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(CollectionProductDeletedResponseDto, Integer, Hash)>] CollectionProductDeletedResponseDto data, response status code and response headers
    def collections_delete_product_with_http_info(id, product_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CollectionsApi.collections_delete_product ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CollectionsApi.collections_delete_product"
      end
      # verify the required parameter 'product_id' is set
      if @api_client.config.client_side_validation && product_id.nil?
        fail ArgumentError, "Missing the required parameter 'product_id' when calling CollectionsApi.collections_delete_product"
      end
      # resource path
      local_var_path = '/v1/collections/{id}/products/{productId}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'productId' + '}', CGI.escape(product_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CollectionProductDeletedResponseDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"CollectionsApi.collections_delete_product",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CollectionsApi#collections_delete_product\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve Collection
    # Get properties of a product collection by ID.
    # @param id [String] Collection ID
    # @param [Hash] opts the optional parameters
    # @return [CollectionDetailResponseDto]
    def collections_get(id, opts = {})
      data, _status_code, _headers = collections_get_with_http_info(id, opts)
      data
    end

    # Retrieve Collection
    # Get properties of a product collection by ID.
    # @param id [String] Collection ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(CollectionDetailResponseDto, Integer, Hash)>] CollectionDetailResponseDto data, response status code and response headers
    def collections_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CollectionsApi.collections_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CollectionsApi.collections_get"
      end
      # resource path
      local_var_path = '/v1/collections/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CollectionDetailResponseDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"CollectionsApi.collections_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CollectionsApi#collections_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Collections
    # Get all active product collections linked to the current active business.
    # @param [Hash] opts the optional parameters
    # @return [Array<CollectionResponseDto>]
    def collections_list(opts = {})
      data, _status_code, _headers = collections_list_with_http_info(opts)
      data
    end

    # List Collections
    # Get all active product collections linked to the current active business.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<CollectionResponseDto>, Integer, Hash)>] Array<CollectionResponseDto> data, response status code and response headers
    def collections_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CollectionsApi.collections_list ...'
      end
      # resource path
      local_var_path = '/v1/collections'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<CollectionResponseDto>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"CollectionsApi.collections_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CollectionsApi#collections_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Archived Collections
    # Get all archived/deactivated product collections.
    # @param [Hash] opts the optional parameters
    # @return [Array<CollectionResponseDto>]
    def collections_list_archived(opts = {})
      data, _status_code, _headers = collections_list_archived_with_http_info(opts)
      data
    end

    # List Archived Collections
    # Get all archived/deactivated product collections.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<CollectionResponseDto>, Integer, Hash)>] Array<CollectionResponseDto> data, response status code and response headers
    def collections_list_archived_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CollectionsApi.collections_list_archived ...'
      end
      # resource path
      local_var_path = '/v1/collections/archived'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<CollectionResponseDto>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"CollectionsApi.collections_list_archived",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CollectionsApi#collections_list_archived\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Unarchive Collection
    # Restore an archived collection back to active status.
    # @param id [String] Collection ID
    # @param [Hash] opts the optional parameters
    # @return [CollectionUnarchivedResponseDto]
    def collections_unarchive(id, opts = {})
      data, _status_code, _headers = collections_unarchive_with_http_info(id, opts)
      data
    end

    # Unarchive Collection
    # Restore an archived collection back to active status.
    # @param id [String] Collection ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(CollectionUnarchivedResponseDto, Integer, Hash)>] CollectionUnarchivedResponseDto data, response status code and response headers
    def collections_unarchive_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CollectionsApi.collections_unarchive ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CollectionsApi.collections_unarchive"
      end
      # resource path
      local_var_path = '/v1/collections/{id}/unarchive'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CollectionUnarchivedResponseDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"CollectionsApi.collections_unarchive",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CollectionsApi#collections_unarchive\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Collection
    # Update products, friendly name, status, or description of a collection.
    # @param id [String] Collection ID
    # @param update_collection_dto [UpdateCollectionDto] 
    # @param [Hash] opts the optional parameters
    # @return [CollectionUpdatedResponseDto]
    def collections_update(id, update_collection_dto, opts = {})
      data, _status_code, _headers = collections_update_with_http_info(id, update_collection_dto, opts)
      data
    end

    # Update Collection
    # Update products, friendly name, status, or description of a collection.
    # @param id [String] Collection ID
    # @param update_collection_dto [UpdateCollectionDto] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CollectionUpdatedResponseDto, Integer, Hash)>] CollectionUpdatedResponseDto data, response status code and response headers
    def collections_update_with_http_info(id, update_collection_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CollectionsApi.collections_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CollectionsApi.collections_update"
      end
      # verify the required parameter 'update_collection_dto' is set
      if @api_client.config.client_side_validation && update_collection_dto.nil?
        fail ArgumentError, "Missing the required parameter 'update_collection_dto' when calling CollectionsApi.collections_update"
      end
      # resource path
      local_var_path = '/v1/collections/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_collection_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'CollectionUpdatedResponseDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"CollectionsApi.collections_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CollectionsApi#collections_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Collection Product
    # Update quantity of a specific product inside a collection.
    # @param id [String] Collection ID
    # @param product_id [String] Product ID
    # @param update_collection_product_dto [UpdateCollectionProductDto] 
    # @param [Hash] opts the optional parameters
    # @return [CollectionProductUpdatedResponseDto]
    def collections_update_product(id, product_id, update_collection_product_dto, opts = {})
      data, _status_code, _headers = collections_update_product_with_http_info(id, product_id, update_collection_product_dto, opts)
      data
    end

    # Update Collection Product
    # Update quantity of a specific product inside a collection.
    # @param id [String] Collection ID
    # @param product_id [String] Product ID
    # @param update_collection_product_dto [UpdateCollectionProductDto] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CollectionProductUpdatedResponseDto, Integer, Hash)>] CollectionProductUpdatedResponseDto data, response status code and response headers
    def collections_update_product_with_http_info(id, product_id, update_collection_product_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CollectionsApi.collections_update_product ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CollectionsApi.collections_update_product"
      end
      # verify the required parameter 'product_id' is set
      if @api_client.config.client_side_validation && product_id.nil?
        fail ArgumentError, "Missing the required parameter 'product_id' when calling CollectionsApi.collections_update_product"
      end
      # verify the required parameter 'update_collection_product_dto' is set
      if @api_client.config.client_side_validation && update_collection_product_dto.nil?
        fail ArgumentError, "Missing the required parameter 'update_collection_product_dto' when calling CollectionsApi.collections_update_product"
      end
      # resource path
      local_var_path = '/v1/collections/{id}/products/{productId}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'productId' + '}', CGI.escape(product_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_collection_product_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'CollectionProductUpdatedResponseDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"CollectionsApi.collections_update_product",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CollectionsApi#collections_update_product\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
