=begin
#Solifyn API

#Welcome to the Solifyn API Reference. Leverage our secure endpoints to manage products and issue, validate, and manage software license keys programmatically.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module Solifyn
  class CustomersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Customer
    # Add/upsert a new customer profile under the current business context.
    # @param create_customer_dto [CreateCustomerDto] 
    # @param [Hash] opts the optional parameters
    # @return [CustomerResponseDto]
    def customers_create(create_customer_dto, opts = {})
      data, _status_code, _headers = customers_create_with_http_info(create_customer_dto, opts)
      data
    end

    # Create Customer
    # Add/upsert a new customer profile under the current business context.
    # @param create_customer_dto [CreateCustomerDto] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomerResponseDto, Integer, Hash)>] CustomerResponseDto data, response status code and response headers
    def customers_create_with_http_info(create_customer_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomersApi.customers_create ...'
      end
      # verify the required parameter 'create_customer_dto' is set
      if @api_client.config.client_side_validation && create_customer_dto.nil?
        fail ArgumentError, "Missing the required parameter 'create_customer_dto' when calling CustomersApi.customers_create"
      end
      # resource path
      local_var_path = '/v1/customers'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_customer_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'CustomerResponseDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"CustomersApi.customers_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomersApi#customers_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Generate Shared Invite
    # Generate a short-lived token granting temporary customer self-service billing page access.
    # @param id [String] Customer ID
    # @param [Hash] opts the optional parameters
    # @return [CustomerSharedInviteResponseDto]
    def customers_generate_invite(id, opts = {})
      data, _status_code, _headers = customers_generate_invite_with_http_info(id, opts)
      data
    end

    # Generate Shared Invite
    # Generate a short-lived token granting temporary customer self-service billing page access.
    # @param id [String] Customer ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomerSharedInviteResponseDto, Integer, Hash)>] CustomerSharedInviteResponseDto data, response status code and response headers
    def customers_generate_invite_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomersApi.customers_generate_invite ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CustomersApi.customers_generate_invite"
      end
      # resource path
      local_var_path = '/v1/customers/{id}/share'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CustomerSharedInviteResponseDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"CustomersApi.customers_generate_invite",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomersApi#customers_generate_invite\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve Customer
    # Retrieve details of a customer profile by ID.
    # @param id [String] Customer ID
    # @param [Hash] opts the optional parameters
    # @return [CustomerResponseDto]
    def customers_get(id, opts = {})
      data, _status_code, _headers = customers_get_with_http_info(id, opts)
      data
    end

    # Retrieve Customer
    # Retrieve details of a customer profile by ID.
    # @param id [String] Customer ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomerResponseDto, Integer, Hash)>] CustomerResponseDto data, response status code and response headers
    def customers_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomersApi.customers_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CustomersApi.customers_get"
      end
      # resource path
      local_var_path = '/v1/customers/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CustomerResponseDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"CustomersApi.customers_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomersApi#customers_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Customers
    # Retrieve all customers associated with the current active business.
    # @param [Hash] opts the optional parameters
    # @return [CustomerListResponseDto]
    def customers_list(opts = {})
      data, _status_code, _headers = customers_list_with_http_info(opts)
      data
    end

    # List Customers
    # Retrieve all customers associated with the current active business.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomerListResponseDto, Integer, Hash)>] CustomerListResponseDto data, response status code and response headers
    def customers_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomersApi.customers_list ...'
      end
      # resource path
      local_var_path = '/v1/customers'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CustomerListResponseDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"CustomersApi.customers_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomersApi#customers_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Customer
    # Update name, phone, or metadata of an existing customer profile.
    # @param id [String] Customer ID
    # @param update_customer_dto [UpdateCustomerDto] 
    # @param [Hash] opts the optional parameters
    # @return [CustomerMessageResponseDto]
    def customers_update(id, update_customer_dto, opts = {})
      data, _status_code, _headers = customers_update_with_http_info(id, update_customer_dto, opts)
      data
    end

    # Update Customer
    # Update name, phone, or metadata of an existing customer profile.
    # @param id [String] Customer ID
    # @param update_customer_dto [UpdateCustomerDto] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomerMessageResponseDto, Integer, Hash)>] CustomerMessageResponseDto data, response status code and response headers
    def customers_update_with_http_info(id, update_customer_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomersApi.customers_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CustomersApi.customers_update"
      end
      # verify the required parameter 'update_customer_dto' is set
      if @api_client.config.client_side_validation && update_customer_dto.nil?
        fail ArgumentError, "Missing the required parameter 'update_customer_dto' when calling CustomersApi.customers_update"
      end
      # resource path
      local_var_path = '/v1/customers/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_customer_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'CustomerMessageResponseDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"CustomersApi.customers_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomersApi#customers_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
