=begin
#Solifyn API

#Welcome to the Solifyn API Reference. Leverage our secure endpoints to manage products and issue, validate, and manage software license keys programmatically.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module Solifyn
  class DiscordIntegrationApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get Discord Bot Installation URL
    # Generates the URL to invite the system-wide Discord Bot onto the merchant's Discord server.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :product_id Optional Product ID to redirect back to after installation
    # @return [nil]
    def discord_get_install_url(opts = {})
      discord_get_install_url_with_http_info(opts)
      nil
    end

    # Get Discord Bot Installation URL
    # Generates the URL to invite the system-wide Discord Bot onto the merchant&#39;s Discord server.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :product_id Optional Product ID to redirect back to after installation
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def discord_get_install_url_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DiscordIntegrationApi.discord_get_install_url ...'
      end
      # resource path
      local_var_path = '/v1/discord/install'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'productId'] = opts[:'product_id'] if !opts[:'product_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DiscordIntegrationApi.discord_get_install_url",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DiscordIntegrationApi#discord_get_install_url\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Guild Discord Roles
    # Retrieves all roles available in the connected merchant's Discord server/guild.
    # @param [Hash] opts the optional parameters
    # @return [Array<DiscordRolesResponseDto>]
    def discord_list_roles(opts = {})
      data, _status_code, _headers = discord_list_roles_with_http_info(opts)
      data
    end

    # List Guild Discord Roles
    # Retrieves all roles available in the connected merchant&#39;s Discord server/guild.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<DiscordRolesResponseDto>, Integer, Hash)>] Array<DiscordRolesResponseDto> data, response status code and response headers
    def discord_list_roles_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DiscordIntegrationApi.discord_list_roles ...'
      end
      # resource path
      local_var_path = '/v1/discord/roles'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<DiscordRolesResponseDto>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DiscordIntegrationApi.discord_list_roles",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DiscordIntegrationApi#discord_list_roles\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
