=begin
#Solifyn API

#Welcome to the Solifyn API Reference. Leverage our secure endpoints to manage products and issue, validate, and manage software license keys programmatically.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module Solifyn
  class DiscountsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Discount
    # Create a new discount code within your active business.
    # @param discount_create [DiscountCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Discount]
    def discounts_create(discount_create, opts = {})
      data, _status_code, _headers = discounts_create_with_http_info(discount_create, opts)
      data
    end

    # Create Discount
    # Create a new discount code within your active business.
    # @param discount_create [DiscountCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Discount, Integer, Hash)>] Discount data, response status code and response headers
    def discounts_create_with_http_info(discount_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DiscountsApi.discounts_create ...'
      end
      # verify the required parameter 'discount_create' is set
      if @api_client.config.client_side_validation && discount_create.nil?
        fail ArgumentError, "Missing the required parameter 'discount_create' when calling DiscountsApi.discounts_create"
      end
      # resource path
      local_var_path = '/v1/discounts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(discount_create)

      # return_type
      return_type = opts[:debug_return_type] || 'Discount'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"DiscountsApi.discounts_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DiscountsApi#discounts_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Discount
    # Delete a specific discount code by ID.
    # @param id [String] The unique discount ID.
    # @param [Hash] opts the optional parameters
    # @return [LicensesDeactivate200Response]
    def discounts_delete(id, opts = {})
      data, _status_code, _headers = discounts_delete_with_http_info(id, opts)
      data
    end

    # Delete Discount
    # Delete a specific discount code by ID.
    # @param id [String] The unique discount ID.
    # @param [Hash] opts the optional parameters
    # @return [Array<(LicensesDeactivate200Response, Integer, Hash)>] LicensesDeactivate200Response data, response status code and response headers
    def discounts_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DiscountsApi.discounts_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DiscountsApi.discounts_delete"
      end
      # resource path
      local_var_path = '/v1/discounts/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LicensesDeactivate200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"DiscountsApi.discounts_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DiscountsApi#discounts_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve Discount
    # Retrieve details of a specific discount code using its ID.
    # @param id [String] The unique discount ID.
    # @param [Hash] opts the optional parameters
    # @return [Discount]
    def discounts_get(id, opts = {})
      data, _status_code, _headers = discounts_get_with_http_info(id, opts)
      data
    end

    # Retrieve Discount
    # Retrieve details of a specific discount code using its ID.
    # @param id [String] The unique discount ID.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Discount, Integer, Hash)>] Discount data, response status code and response headers
    def discounts_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DiscountsApi.discounts_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DiscountsApi.discounts_get"
      end
      # resource path
      local_var_path = '/v1/discounts/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Discount'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"DiscountsApi.discounts_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DiscountsApi#discounts_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Discounts
    # List and query discounts belonging to your active business with support for fuzzy search by code, pagination, and sorting.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sorting Sorting criterion. Add a minus sign - before the criteria name to sort by descending order.
    # @option opts [Float] :limit Size of a page, defaults to 10. Maximum is 100. (default to 10)
    # @option opts [Float] :page Page number, defaults to 1. (default to 1)
    # @option opts [String] :query Filter by discount code (fuzzy, case-insensitive).
    # @option opts [String] :id Filter by discount ID.
    # @return [DiscountsList200Response]
    def discounts_list(opts = {})
      data, _status_code, _headers = discounts_list_with_http_info(opts)
      data
    end

    # List Discounts
    # List and query discounts belonging to your active business with support for fuzzy search by code, pagination, and sorting.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sorting Sorting criterion. Add a minus sign - before the criteria name to sort by descending order.
    # @option opts [Float] :limit Size of a page, defaults to 10. Maximum is 100. (default to 10)
    # @option opts [Float] :page Page number, defaults to 1. (default to 1)
    # @option opts [String] :query Filter by discount code (fuzzy, case-insensitive).
    # @option opts [String] :id Filter by discount ID.
    # @return [Array<(DiscountsList200Response, Integer, Hash)>] DiscountsList200Response data, response status code and response headers
    def discounts_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DiscountsApi.discounts_list ...'
      end
      allowable_values = ["created_at", "-created_at"]
      if @api_client.config.client_side_validation && opts[:'sorting'] && !allowable_values.include?(opts[:'sorting'])
        fail ArgumentError, "invalid value for \"sorting\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/discounts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sorting'] = opts[:'sorting'] if !opts[:'sorting'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'query'] = opts[:'query'] if !opts[:'query'].nil?
      query_params[:'id'] = opts[:'id'] if !opts[:'id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DiscountsList200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"DiscountsApi.discounts_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DiscountsApi#discounts_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Discount
    # Update details of an existing discount code.
    # @param id [String] The unique discount ID.
    # @param discount_update [DiscountUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [Discount]
    def discounts_update(id, discount_update, opts = {})
      data, _status_code, _headers = discounts_update_with_http_info(id, discount_update, opts)
      data
    end

    # Update Discount
    # Update details of an existing discount code.
    # @param id [String] The unique discount ID.
    # @param discount_update [DiscountUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Discount, Integer, Hash)>] Discount data, response status code and response headers
    def discounts_update_with_http_info(id, discount_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DiscountsApi.discounts_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DiscountsApi.discounts_update"
      end
      # verify the required parameter 'discount_update' is set
      if @api_client.config.client_side_validation && discount_update.nil?
        fail ArgumentError, "Missing the required parameter 'discount_update' when calling DiscountsApi.discounts_update"
      end
      # resource path
      local_var_path = '/v1/discounts/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(discount_update)

      # return_type
      return_type = opts[:debug_return_type] || 'Discount'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"DiscountsApi.discounts_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DiscountsApi#discounts_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Validate Code
    # Validate if a specific discount code is active and valid for purchase checkout.
    # @param code [String] The plain discount code string
    # @param business_id [String] The business database ID context
    # @param [Hash] opts the optional parameters
    # @return [Discount]
    def discounts_validate(code, business_id, opts = {})
      data, _status_code, _headers = discounts_validate_with_http_info(code, business_id, opts)
      data
    end

    # Validate Code
    # Validate if a specific discount code is active and valid for purchase checkout.
    # @param code [String] The plain discount code string
    # @param business_id [String] The business database ID context
    # @param [Hash] opts the optional parameters
    # @return [Array<(Discount, Integer, Hash)>] Discount data, response status code and response headers
    def discounts_validate_with_http_info(code, business_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DiscountsApi.discounts_validate ...'
      end
      # verify the required parameter 'code' is set
      if @api_client.config.client_side_validation && code.nil?
        fail ArgumentError, "Missing the required parameter 'code' when calling DiscountsApi.discounts_validate"
      end
      # verify the required parameter 'business_id' is set
      if @api_client.config.client_side_validation && business_id.nil?
        fail ArgumentError, "Missing the required parameter 'business_id' when calling DiscountsApi.discounts_validate"
      end
      # resource path
      local_var_path = '/v1/discounts/validate'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'code'] = code
      query_params[:'businessId'] = business_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Discount'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"DiscountsApi.discounts_validate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DiscountsApi#discounts_validate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
