=begin
#Solifyn API

#Welcome to the Solifyn API Reference. Leverage our secure endpoints to manage products and issue, validate, and manage software license keys programmatically.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module Solifyn
  class DisputesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Generate Dispute CSV Report
    # Generates a downloadable CSV report of disputes matching the filters.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :created_at_gte Filter disputes created after this ISO date-time string
    # @option opts [String] :created_at_lte Filter disputes created before this ISO date-time string
    # @option opts [String] :status Filter disputes by status
    # @return [nil]
    def disputes_generate_report(opts = {})
      disputes_generate_report_with_http_info(opts)
      nil
    end

    # Generate Dispute CSV Report
    # Generates a downloadable CSV report of disputes matching the filters.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :created_at_gte Filter disputes created after this ISO date-time string
    # @option opts [String] :created_at_lte Filter disputes created before this ISO date-time string
    # @option opts [String] :status Filter disputes by status
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def disputes_generate_report_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisputesApi.disputes_generate_report ...'
      end
      # resource path
      local_var_path = '/v1/transactions/disputes/report'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'createdAtGte'] = opts[:'created_at_gte'] if !opts[:'created_at_gte'].nil?
      query_params[:'createdAtLte'] = opts[:'created_at_lte'] if !opts[:'created_at_lte'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"DisputesApi.disputes_generate_report",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisputesApi#disputes_generate_report\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve Dispute
    # Retrieve details of a specific dispute by ID.
    # @param id [String] The dispute ID
    # @param [Hash] opts the optional parameters
    # @return [Dispute]
    def disputes_get(id, opts = {})
      data, _status_code, _headers = disputes_get_with_http_info(id, opts)
      data
    end

    # Retrieve Dispute
    # Retrieve details of a specific dispute by ID.
    # @param id [String] The dispute ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(Dispute, Integer, Hash)>] Dispute data, response status code and response headers
    def disputes_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisputesApi.disputes_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DisputesApi.disputes_get"
      end
      # resource path
      local_var_path = '/v1/transactions/disputes/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Dispute'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"DisputesApi.disputes_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisputesApi#disputes_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Disputes
    # Retrieve disputes associated with the active business.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :page Page number for pagination
    # @option opts [String] :limit Page size limit for pagination
    # @option opts [String] :status Filter disputes by status
    # @option opts [String] :type Filter by type: dispute or alert
    # @return [DisputeList]
    def disputes_list(opts = {})
      data, _status_code, _headers = disputes_list_with_http_info(opts)
      data
    end

    # List Disputes
    # Retrieve disputes associated with the active business.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :page Page number for pagination
    # @option opts [String] :limit Page size limit for pagination
    # @option opts [String] :status Filter disputes by status
    # @option opts [String] :type Filter by type: dispute or alert
    # @return [Array<(DisputeList, Integer, Hash)>] DisputeList data, response status code and response headers
    def disputes_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisputesApi.disputes_list ...'
      end
      # resource path
      local_var_path = '/v1/transactions/disputes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DisputeList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"DisputesApi.disputes_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisputesApi#disputes_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Submit Dispute Evidence
    # Finalize and submit the uploaded evidence for review.
    # @param id [String] The dispute ID
    # @param [Hash] opts the optional parameters
    # @return [Dispute]
    def disputes_submit_evidence(id, opts = {})
      data, _status_code, _headers = disputes_submit_evidence_with_http_info(id, opts)
      data
    end

    # Submit Dispute Evidence
    # Finalize and submit the uploaded evidence for review.
    # @param id [String] The dispute ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(Dispute, Integer, Hash)>] Dispute data, response status code and response headers
    def disputes_submit_evidence_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisputesApi.disputes_submit_evidence ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DisputesApi.disputes_submit_evidence"
      end
      # resource path
      local_var_path = '/v1/transactions/disputes/{id}/submit'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Dispute'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"DisputesApi.disputes_submit_evidence",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisputesApi#disputes_submit_evidence\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Dispute Evidence
    # Upload and update evidence attachments for a dispute.
    # @param id [String] The dispute ID
    # @param dispute_evidence_update [DisputeEvidenceUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [Dispute]
    def disputes_update_evidence(id, dispute_evidence_update, opts = {})
      data, _status_code, _headers = disputes_update_evidence_with_http_info(id, dispute_evidence_update, opts)
      data
    end

    # Update Dispute Evidence
    # Upload and update evidence attachments for a dispute.
    # @param id [String] The dispute ID
    # @param dispute_evidence_update [DisputeEvidenceUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Dispute, Integer, Hash)>] Dispute data, response status code and response headers
    def disputes_update_evidence_with_http_info(id, dispute_evidence_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisputesApi.disputes_update_evidence ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DisputesApi.disputes_update_evidence"
      end
      # verify the required parameter 'dispute_evidence_update' is set
      if @api_client.config.client_side_validation && dispute_evidence_update.nil?
        fail ArgumentError, "Missing the required parameter 'dispute_evidence_update' when calling DisputesApi.disputes_update_evidence"
      end
      # resource path
      local_var_path = '/v1/transactions/disputes/{id}/evidence'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(dispute_evidence_update)

      # return_type
      return_type = opts[:debug_return_type] || 'Dispute'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"DisputesApi.disputes_update_evidence",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisputesApi#disputes_update_evidence\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Upload Evidence File
    # Upload a support file (image, PDF, video) to use as dispute evidence.
    # @param file [File] The evidence file to upload (Max 25MB: JPEG, PNG, GIF, WEBP, PDF, MP4, WEBM, QuickTime)
    # @param [Hash] opts the optional parameters
    # @return [DisputeFileUpload]
    def disputes_upload_evidence_file(file, opts = {})
      data, _status_code, _headers = disputes_upload_evidence_file_with_http_info(file, opts)
      data
    end

    # Upload Evidence File
    # Upload a support file (image, PDF, video) to use as dispute evidence.
    # @param file [File] The evidence file to upload (Max 25MB: JPEG, PNG, GIF, WEBP, PDF, MP4, WEBM, QuickTime)
    # @param [Hash] opts the optional parameters
    # @return [Array<(DisputeFileUpload, Integer, Hash)>] DisputeFileUpload data, response status code and response headers
    def disputes_upload_evidence_file_with_http_info(file, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisputesApi.disputes_upload_evidence_file ...'
      end
      # verify the required parameter 'file' is set
      if @api_client.config.client_side_validation && file.nil?
        fail ArgumentError, "Missing the required parameter 'file' when calling DisputesApi.disputes_upload_evidence_file"
      end
      # resource path
      local_var_path = '/v1/transactions/disputes/upload'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['file'] = file

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DisputeFileUpload'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"DisputesApi.disputes_upload_evidence_file",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisputesApi#disputes_upload_evidence_file\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
