=begin
#Solifyn API

#Welcome to the Solifyn API Reference. Leverage our secure endpoints to manage products and issue, validate, and manage software license keys programmatically.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module Solifyn
  class EntitlementsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Entitlement
    # Create a new independent access entitlement.
    # @param create_entitlement_dto [CreateEntitlementDto] 
    # @param [Hash] opts the optional parameters
    # @return [EntitlementDetailResponseDto]
    def entitlements_create(create_entitlement_dto, opts = {})
      data, _status_code, _headers = entitlements_create_with_http_info(create_entitlement_dto, opts)
      data
    end

    # Create Entitlement
    # Create a new independent access entitlement.
    # @param create_entitlement_dto [CreateEntitlementDto] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EntitlementDetailResponseDto, Integer, Hash)>] EntitlementDetailResponseDto data, response status code and response headers
    def entitlements_create_with_http_info(create_entitlement_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EntitlementsApi.entitlements_create ...'
      end
      # verify the required parameter 'create_entitlement_dto' is set
      if @api_client.config.client_side_validation && create_entitlement_dto.nil?
        fail ArgumentError, "Missing the required parameter 'create_entitlement_dto' when calling EntitlementsApi.entitlements_create"
      end
      # resource path
      local_var_path = '/v1/entitlements'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_entitlement_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'EntitlementDetailResponseDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EntitlementsApi.entitlements_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EntitlementsApi#entitlements_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Entitlement
    # Delete an independent entitlement and unlink all mapped products.
    # @param id [String] The unique entitlement ID.
    # @param [Hash] opts the optional parameters
    # @return [EntitlementDetailResponseDto]
    def entitlements_delete(id, opts = {})
      data, _status_code, _headers = entitlements_delete_with_http_info(id, opts)
      data
    end

    # Delete Entitlement
    # Delete an independent entitlement and unlink all mapped products.
    # @param id [String] The unique entitlement ID.
    # @param [Hash] opts the optional parameters
    # @return [Array<(EntitlementDetailResponseDto, Integer, Hash)>] EntitlementDetailResponseDto data, response status code and response headers
    def entitlements_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EntitlementsApi.entitlements_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling EntitlementsApi.entitlements_delete"
      end
      # resource path
      local_var_path = '/v1/entitlements/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EntitlementDetailResponseDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EntitlementsApi.entitlements_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EntitlementsApi#entitlements_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve Entitlement
    # Retrieve a specific entitlement definition by ID.
    # @param id [String] The unique entitlement ID.
    # @param [Hash] opts the optional parameters
    # @return [EntitlementDetailResponseDto]
    def entitlements_get(id, opts = {})
      data, _status_code, _headers = entitlements_get_with_http_info(id, opts)
      data
    end

    # Retrieve Entitlement
    # Retrieve a specific entitlement definition by ID.
    # @param id [String] The unique entitlement ID.
    # @param [Hash] opts the optional parameters
    # @return [Array<(EntitlementDetailResponseDto, Integer, Hash)>] EntitlementDetailResponseDto data, response status code and response headers
    def entitlements_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EntitlementsApi.entitlements_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling EntitlementsApi.entitlements_get"
      end
      # resource path
      local_var_path = '/v1/entitlements/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EntitlementDetailResponseDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EntitlementsApi.entitlements_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EntitlementsApi#entitlements_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Entitlements
    # List all independent entitlements for the active business.
    # @param [Hash] opts the optional parameters
    # @return [Array<EntitlementDetailResponseDto>]
    def entitlements_list(opts = {})
      data, _status_code, _headers = entitlements_list_with_http_info(opts)
      data
    end

    # List Entitlements
    # List all independent entitlements for the active business.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<EntitlementDetailResponseDto>, Integer, Hash)>] Array<EntitlementDetailResponseDto> data, response status code and response headers
    def entitlements_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EntitlementsApi.entitlements_list ...'
      end
      # resource path
      local_var_path = '/v1/entitlements'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<EntitlementDetailResponseDto>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EntitlementsApi.entitlements_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EntitlementsApi#entitlements_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Entitlement
    # Update details of an existing independent entitlement.
    # @param id [String] The unique entitlement ID.
    # @param update_entitlement_dto [UpdateEntitlementDto] 
    # @param [Hash] opts the optional parameters
    # @return [EntitlementDetailResponseDto]
    def entitlements_update(id, update_entitlement_dto, opts = {})
      data, _status_code, _headers = entitlements_update_with_http_info(id, update_entitlement_dto, opts)
      data
    end

    # Update Entitlement
    # Update details of an existing independent entitlement.
    # @param id [String] The unique entitlement ID.
    # @param update_entitlement_dto [UpdateEntitlementDto] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EntitlementDetailResponseDto, Integer, Hash)>] EntitlementDetailResponseDto data, response status code and response headers
    def entitlements_update_with_http_info(id, update_entitlement_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EntitlementsApi.entitlements_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling EntitlementsApi.entitlements_update"
      end
      # verify the required parameter 'update_entitlement_dto' is set
      if @api_client.config.client_side_validation && update_entitlement_dto.nil?
        fail ArgumentError, "Missing the required parameter 'update_entitlement_dto' when calling EntitlementsApi.entitlements_update"
      end
      # resource path
      local_var_path = '/v1/entitlements/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_entitlement_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'EntitlementDetailResponseDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EntitlementsApi.entitlements_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EntitlementsApi#entitlements_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
