=begin
#Solifyn API

#Welcome to the Solifyn API Reference. Leverage our secure endpoints to manage products and issue, validate, and manage software license keys programmatically.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module Solifyn
  class EntitlementGrantsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Retrieve Entitlement Grant
    # Retrieve details of a specific entitlement grant.
    # @param id [String] The unique grant ID
    # @param [Hash] opts the optional parameters
    # @return [EntitlementGrantResponseDto]
    def entitlement_grants_get(id, opts = {})
      data, _status_code, _headers = entitlement_grants_get_with_http_info(id, opts)
      data
    end

    # Retrieve Entitlement Grant
    # Retrieve details of a specific entitlement grant.
    # @param id [String] The unique grant ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(EntitlementGrantResponseDto, Integer, Hash)>] EntitlementGrantResponseDto data, response status code and response headers
    def entitlement_grants_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EntitlementGrantsApi.entitlement_grants_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling EntitlementGrantsApi.entitlement_grants_get"
      end
      # resource path
      local_var_path = '/v1/entitlement-grants/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EntitlementGrantResponseDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EntitlementGrantsApi.entitlement_grants_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EntitlementGrantsApi#entitlement_grants_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Entitlement Grants
    # Retrieve all GitHub repository entitlement grants for the active business.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status Filter by status (PENDING, DELIVERED, FAILED, REVOKED)
    # @return [Array<EntitlementGrantResponseDto>]
    def entitlement_grants_list(opts = {})
      data, _status_code, _headers = entitlement_grants_list_with_http_info(opts)
      data
    end

    # List Entitlement Grants
    # Retrieve all GitHub repository entitlement grants for the active business.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status Filter by status (PENDING, DELIVERED, FAILED, REVOKED)
    # @return [Array<(Array<EntitlementGrantResponseDto>, Integer, Hash)>] Array<EntitlementGrantResponseDto> data, response status code and response headers
    def entitlement_grants_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EntitlementGrantsApi.entitlement_grants_list ...'
      end
      # resource path
      local_var_path = '/v1/entitlement-grants'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<EntitlementGrantResponseDto>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EntitlementGrantsApi.entitlement_grants_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EntitlementGrantsApi#entitlement_grants_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retry Entitlement Grant Delivery
    # Attempts to re-invite the collaborator if GitHub username is already connected, or resets the OAuth URL redirect.
    # @param id [String] The unique grant ID
    # @param [Hash] opts the optional parameters
    # @return [EntitlementGrantResponseDto]
    def entitlement_grants_retry(id, opts = {})
      data, _status_code, _headers = entitlement_grants_retry_with_http_info(id, opts)
      data
    end

    # Retry Entitlement Grant Delivery
    # Attempts to re-invite the collaborator if GitHub username is already connected, or resets the OAuth URL redirect.
    # @param id [String] The unique grant ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(EntitlementGrantResponseDto, Integer, Hash)>] EntitlementGrantResponseDto data, response status code and response headers
    def entitlement_grants_retry_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EntitlementGrantsApi.entitlement_grants_retry ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling EntitlementGrantsApi.entitlement_grants_retry"
      end
      # resource path
      local_var_path = '/v1/entitlement-grants/{id}/retry'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EntitlementGrantResponseDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EntitlementGrantsApi.entitlement_grants_retry",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EntitlementGrantsApi#entitlement_grants_retry\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Manually Revoke Entitlement Grant
    # Manually remove the customer collaborator access from the repository and revoke the grant.
    # @param id [String] The unique grant ID
    # @param [Hash] opts the optional parameters
    # @return [EntitlementGrantResponseDto]
    def entitlement_grants_revoke(id, opts = {})
      data, _status_code, _headers = entitlement_grants_revoke_with_http_info(id, opts)
      data
    end

    # Manually Revoke Entitlement Grant
    # Manually remove the customer collaborator access from the repository and revoke the grant.
    # @param id [String] The unique grant ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(EntitlementGrantResponseDto, Integer, Hash)>] EntitlementGrantResponseDto data, response status code and response headers
    def entitlement_grants_revoke_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EntitlementGrantsApi.entitlement_grants_revoke ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling EntitlementGrantsApi.entitlement_grants_revoke"
      end
      # resource path
      local_var_path = '/v1/entitlement-grants/{id}/revoke'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EntitlementGrantResponseDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EntitlementGrantsApi.entitlement_grants_revoke",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EntitlementGrantsApi#entitlement_grants_revoke\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
