=begin
#Solifyn API

#Welcome to the Solifyn API Reference. Leverage our secure endpoints to manage products and issue, validate, and manage software license keys programmatically.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module Solifyn
  class FramerIntegrationApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Framer Template
    # Registers a new Framer template with its public remix link for the active business.
    # @param create_framer_template_dto [CreateFramerTemplateDto] 
    # @param [Hash] opts the optional parameters
    # @return [FramerTemplateResponseDto]
    def framer_create_template(create_framer_template_dto, opts = {})
      data, _status_code, _headers = framer_create_template_with_http_info(create_framer_template_dto, opts)
      data
    end

    # Create Framer Template
    # Registers a new Framer template with its public remix link for the active business.
    # @param create_framer_template_dto [CreateFramerTemplateDto] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FramerTemplateResponseDto, Integer, Hash)>] FramerTemplateResponseDto data, response status code and response headers
    def framer_create_template_with_http_info(create_framer_template_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FramerIntegrationApi.framer_create_template ...'
      end
      # verify the required parameter 'create_framer_template_dto' is set
      if @api_client.config.client_side_validation && create_framer_template_dto.nil?
        fail ArgumentError, "Missing the required parameter 'create_framer_template_dto' when calling FramerIntegrationApi.framer_create_template"
      end
      # resource path
      local_var_path = '/v1/framer/templates'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_framer_template_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'FramerTemplateResponseDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"FramerIntegrationApi.framer_create_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FramerIntegrationApi#framer_create_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Framer Template
    # Deletes a registered Framer template for the active business.
    # @param id [String] The Framer template ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def framer_delete_template(id, opts = {})
      framer_delete_template_with_http_info(id, opts)
      nil
    end

    # Delete Framer Template
    # Deletes a registered Framer template for the active business.
    # @param id [String] The Framer template ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def framer_delete_template_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FramerIntegrationApi.framer_delete_template ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling FramerIntegrationApi.framer_delete_template"
      end
      # resource path
      local_var_path = '/v1/framer/templates/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"FramerIntegrationApi.framer_delete_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FramerIntegrationApi#framer_delete_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve Framer Template
    # Retrieves details of a specific registered Framer template.
    # @param id [String] The Framer template ID
    # @param [Hash] opts the optional parameters
    # @return [FramerTemplateResponseDto]
    def framer_get_template(id, opts = {})
      data, _status_code, _headers = framer_get_template_with_http_info(id, opts)
      data
    end

    # Retrieve Framer Template
    # Retrieves details of a specific registered Framer template.
    # @param id [String] The Framer template ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(FramerTemplateResponseDto, Integer, Hash)>] FramerTemplateResponseDto data, response status code and response headers
    def framer_get_template_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FramerIntegrationApi.framer_get_template ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling FramerIntegrationApi.framer_get_template"
      end
      # resource path
      local_var_path = '/v1/framer/templates/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FramerTemplateResponseDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"FramerIntegrationApi.framer_get_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FramerIntegrationApi#framer_get_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Framer Templates
    # Retrieves all registered Framer templates for the active business.
    # @param [Hash] opts the optional parameters
    # @return [Array<FramerTemplateResponseDto>]
    def framer_list_templates(opts = {})
      data, _status_code, _headers = framer_list_templates_with_http_info(opts)
      data
    end

    # List Framer Templates
    # Retrieves all registered Framer templates for the active business.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<FramerTemplateResponseDto>, Integer, Hash)>] Array<FramerTemplateResponseDto> data, response status code and response headers
    def framer_list_templates_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FramerIntegrationApi.framer_list_templates ...'
      end
      # resource path
      local_var_path = '/v1/framer/templates'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<FramerTemplateResponseDto>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"FramerIntegrationApi.framer_list_templates",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FramerIntegrationApi#framer_list_templates\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Framer Template
    # Updates a registered Framer template for the active business.
    # @param id [String] The Framer template ID
    # @param update_framer_template_dto [UpdateFramerTemplateDto] 
    # @param [Hash] opts the optional parameters
    # @return [FramerTemplateResponseDto]
    def framer_update_template(id, update_framer_template_dto, opts = {})
      data, _status_code, _headers = framer_update_template_with_http_info(id, update_framer_template_dto, opts)
      data
    end

    # Update Framer Template
    # Updates a registered Framer template for the active business.
    # @param id [String] The Framer template ID
    # @param update_framer_template_dto [UpdateFramerTemplateDto] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FramerTemplateResponseDto, Integer, Hash)>] FramerTemplateResponseDto data, response status code and response headers
    def framer_update_template_with_http_info(id, update_framer_template_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FramerIntegrationApi.framer_update_template ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling FramerIntegrationApi.framer_update_template"
      end
      # verify the required parameter 'update_framer_template_dto' is set
      if @api_client.config.client_side_validation && update_framer_template_dto.nil?
        fail ArgumentError, "Missing the required parameter 'update_framer_template_dto' when calling FramerIntegrationApi.framer_update_template"
      end
      # resource path
      local_var_path = '/v1/framer/templates/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_framer_template_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'FramerTemplateResponseDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"FramerIntegrationApi.framer_update_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FramerIntegrationApi#framer_update_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
