=begin
#Solifyn API

#Welcome to the Solifyn API Reference. Leverage our secure endpoints to manage products and issue, validate, and manage software license keys programmatically.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module Solifyn
  class GitHubIntegrationApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get GitHub App Installation URL
    # Generates the URL to install the system-wide GitHub App onto the merchant's GitHub account/org.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :product_id Optional Product ID to redirect back to after installation
    # @return [nil]
    def github_get_install_url(opts = {})
      github_get_install_url_with_http_info(opts)
      nil
    end

    # Get GitHub App Installation URL
    # Generates the URL to install the system-wide GitHub App onto the merchant&#39;s GitHub account/org.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :product_id Optional Product ID to redirect back to after installation
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def github_get_install_url_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GitHubIntegrationApi.github_get_install_url ...'
      end
      # resource path
      local_var_path = '/v1/github/install'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'productId'] = opts[:'product_id'] if !opts[:'product_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"GitHubIntegrationApi.github_get_install_url",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GitHubIntegrationApi#github_get_install_url\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Available GitHub Repositories
    # Retrieves all repositories accessible by the merchant's installed GitHub App.
    # @param [Hash] opts the optional parameters
    # @return [Array<GithubReposResponseDto>]
    def github_list_repos(opts = {})
      data, _status_code, _headers = github_list_repos_with_http_info(opts)
      data
    end

    # List Available GitHub Repositories
    # Retrieves all repositories accessible by the merchant&#39;s installed GitHub App.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<GithubReposResponseDto>, Integer, Hash)>] Array<GithubReposResponseDto> data, response status code and response headers
    def github_list_repos_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GitHubIntegrationApi.github_list_repos ...'
      end
      # resource path
      local_var_path = '/v1/github/repos'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<GithubReposResponseDto>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"GitHubIntegrationApi.github_list_repos",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GitHubIntegrationApi#github_list_repos\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
