=begin
#Solifyn API

#Welcome to the Solifyn API Reference. Leverage our secure endpoints to manage products and issue, validate, and manage software license keys programmatically.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module Solifyn
  class LicenseKeysClientApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Activate License Key
    # Register and activate a device or instance for a specific license key.
    # @param licenses_activate_request [LicensesActivateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Instance]
    def licenses_activate(licenses_activate_request, opts = {})
      data, _status_code, _headers = licenses_activate_with_http_info(licenses_activate_request, opts)
      data
    end

    # Activate License Key
    # Register and activate a device or instance for a specific license key.
    # @param licenses_activate_request [LicensesActivateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Instance, Integer, Hash)>] Instance data, response status code and response headers
    def licenses_activate_with_http_info(licenses_activate_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LicenseKeysClientApi.licenses_activate ...'
      end
      # verify the required parameter 'licenses_activate_request' is set
      if @api_client.config.client_side_validation && licenses_activate_request.nil?
        fail ArgumentError, "Missing the required parameter 'licenses_activate_request' when calling LicenseKeysClientApi.licenses_activate"
      end
      # resource path
      local_var_path = '/v1/licenses/activate'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(licenses_activate_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Instance'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"LicenseKeysClientApi.licenses_activate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LicenseKeysClientApi#licenses_activate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deactivate Instance
    # Deactivate or unregister an active device instance from a license key.
    # @param instance_id [String] The unique device instance ID.
    # @param licenses_deactivate_request [LicensesDeactivateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [LicensesDeactivate200Response]
    def licenses_deactivate(instance_id, licenses_deactivate_request, opts = {})
      data, _status_code, _headers = licenses_deactivate_with_http_info(instance_id, licenses_deactivate_request, opts)
      data
    end

    # Deactivate Instance
    # Deactivate or unregister an active device instance from a license key.
    # @param instance_id [String] The unique device instance ID.
    # @param licenses_deactivate_request [LicensesDeactivateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LicensesDeactivate200Response, Integer, Hash)>] LicensesDeactivate200Response data, response status code and response headers
    def licenses_deactivate_with_http_info(instance_id, licenses_deactivate_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LicenseKeysClientApi.licenses_deactivate ...'
      end
      # verify the required parameter 'instance_id' is set
      if @api_client.config.client_side_validation && instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'instance_id' when calling LicenseKeysClientApi.licenses_deactivate"
      end
      # verify the required parameter 'licenses_deactivate_request' is set
      if @api_client.config.client_side_validation && licenses_deactivate_request.nil?
        fail ArgumentError, "Missing the required parameter 'licenses_deactivate_request' when calling LicenseKeysClientApi.licenses_deactivate"
      end
      # resource path
      local_var_path = '/v1/licenses/deactivate/{instanceId}'.sub('{' + 'instanceId' + '}', CGI.escape(instance_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(licenses_deactivate_request)

      # return_type
      return_type = opts[:debug_return_type] || 'LicensesDeactivate200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"LicenseKeysClientApi.licenses_deactivate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LicenseKeysClientApi#licenses_deactivate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Active Instances
    # List all active devices or server instances linked to a specific license key.
    # @param license_id [String] The unique license key ID.
    # @param [Hash] opts the optional parameters
    # @return [Array<Instance>]
    def licenses_instances(license_id, opts = {})
      data, _status_code, _headers = licenses_instances_with_http_info(license_id, opts)
      data
    end

    # Get Active Instances
    # List all active devices or server instances linked to a specific license key.
    # @param license_id [String] The unique license key ID.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<Instance>, Integer, Hash)>] Array<Instance> data, response status code and response headers
    def licenses_instances_with_http_info(license_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LicenseKeysClientApi.licenses_instances ...'
      end
      # verify the required parameter 'license_id' is set
      if @api_client.config.client_side_validation && license_id.nil?
        fail ArgumentError, "Missing the required parameter 'license_id' when calling LicenseKeysClientApi.licenses_instances"
      end
      # resource path
      local_var_path = '/v1/licenses/instances/{licenseId}'.sub('{' + 'licenseId' + '}', CGI.escape(license_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Instance>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"LicenseKeysClientApi.licenses_instances",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LicenseKeysClientApi#licenses_instances\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Validate License Key
    # Verify if a software license key is valid, active, and has not exceeded its limits.
    # @param licenses_verify_request [LicensesVerifyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [LicenseValidationResponse]
    def licenses_verify(licenses_verify_request, opts = {})
      data, _status_code, _headers = licenses_verify_with_http_info(licenses_verify_request, opts)
      data
    end

    # Validate License Key
    # Verify if a software license key is valid, active, and has not exceeded its limits.
    # @param licenses_verify_request [LicensesVerifyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LicenseValidationResponse, Integer, Hash)>] LicenseValidationResponse data, response status code and response headers
    def licenses_verify_with_http_info(licenses_verify_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LicenseKeysClientApi.licenses_verify ...'
      end
      # verify the required parameter 'licenses_verify_request' is set
      if @api_client.config.client_side_validation && licenses_verify_request.nil?
        fail ArgumentError, "Missing the required parameter 'licenses_verify_request' when calling LicenseKeysClientApi.licenses_verify"
      end
      # resource path
      local_var_path = '/v1/licenses/verify'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(licenses_verify_request)

      # return_type
      return_type = opts[:debug_return_type] || 'LicenseValidationResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"LicenseKeysClientApi.licenses_verify",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LicenseKeysClientApi#licenses_verify\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
