=begin
#Solifyn API

#Welcome to the Solifyn API Reference. Leverage our secure endpoints to manage products and issue, validate, and manage software license keys programmatically.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module Solifyn
  class LicenseKeysApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create License Key
    # Manually issue a new license key for a specific product.
    # @param licenses_create_request [LicensesCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [License]
    def licenses_create(licenses_create_request, opts = {})
      data, _status_code, _headers = licenses_create_with_http_info(licenses_create_request, opts)
      data
    end

    # Create License Key
    # Manually issue a new license key for a specific product.
    # @param licenses_create_request [LicensesCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(License, Integer, Hash)>] License data, response status code and response headers
    def licenses_create_with_http_info(licenses_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LicenseKeysApi.licenses_create ...'
      end
      # verify the required parameter 'licenses_create_request' is set
      if @api_client.config.client_side_validation && licenses_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'licenses_create_request' when calling LicenseKeysApi.licenses_create"
      end
      # resource path
      local_var_path = '/v1/licenses'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(licenses_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'License'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"LicenseKeysApi.licenses_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LicenseKeysApi#licenses_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Force Delete Instance
    # Administrative endpoint to force-delete an instance globally by its database ID.
    # @param instance_id [String] The unique hardware activation instance ID.
    # @param [Hash] opts the optional parameters
    # @return [Instance]
    def licenses_delete_instance(instance_id, opts = {})
      data, _status_code, _headers = licenses_delete_instance_with_http_info(instance_id, opts)
      data
    end

    # Force Delete Instance
    # Administrative endpoint to force-delete an instance globally by its database ID.
    # @param instance_id [String] The unique hardware activation instance ID.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Instance, Integer, Hash)>] Instance data, response status code and response headers
    def licenses_delete_instance_with_http_info(instance_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LicenseKeysApi.licenses_delete_instance ...'
      end
      # verify the required parameter 'instance_id' is set
      if @api_client.config.client_side_validation && instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'instance_id' when calling LicenseKeysApi.licenses_delete_instance"
      end
      # resource path
      local_var_path = '/v1/licenses/instances/{instanceId}'.sub('{' + 'instanceId' + '}', CGI.escape(instance_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Instance'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"LicenseKeysApi.licenses_delete_instance",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LicenseKeysApi#licenses_delete_instance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get License Key
    # Retrieve complete administrative details of a specific license key.
    # @param id [String] The unique license key ID.
    # @param [Hash] opts the optional parameters
    # @return [License]
    def licenses_get(id, opts = {})
      data, _status_code, _headers = licenses_get_with_http_info(id, opts)
      data
    end

    # Get License Key
    # Retrieve complete administrative details of a specific license key.
    # @param id [String] The unique license key ID.
    # @param [Hash] opts the optional parameters
    # @return [Array<(License, Integer, Hash)>] License data, response status code and response headers
    def licenses_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LicenseKeysApi.licenses_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling LicenseKeysApi.licenses_get"
      end
      # resource path
      local_var_path = '/v1/licenses/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'License'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"LicenseKeysApi.licenses_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LicenseKeysApi#licenses_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get License Key Instance
    # Retrieve administrative details of a specific software license instance.
    # @param id [String] The unique administrative identifier (ID) of the parent license key.
    # @param instance_id [String] The client-generated instance ID (hardware hash) or the internal database ID of the instance.
    # @param [Hash] opts the optional parameters
    # @return [Instance]
    def licenses_get_instance(id, instance_id, opts = {})
      data, _status_code, _headers = licenses_get_instance_with_http_info(id, instance_id, opts)
      data
    end

    # Get License Key Instance
    # Retrieve administrative details of a specific software license instance.
    # @param id [String] The unique administrative identifier (ID) of the parent license key.
    # @param instance_id [String] The client-generated instance ID (hardware hash) or the internal database ID of the instance.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Instance, Integer, Hash)>] Instance data, response status code and response headers
    def licenses_get_instance_with_http_info(id, instance_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LicenseKeysApi.licenses_get_instance ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling LicenseKeysApi.licenses_get_instance"
      end
      # verify the required parameter 'instance_id' is set
      if @api_client.config.client_side_validation && instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'instance_id' when calling LicenseKeysApi.licenses_get_instance"
      end
      # resource path
      local_var_path = '/v1/licenses/{id}/instances/{instanceId}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'instanceId' + '}', CGI.escape(instance_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Instance'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"LicenseKeysApi.licenses_get_instance",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LicenseKeysApi#licenses_get_instance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get License Key Instances
    # Retrieve all active devices/instances for a specific administrative license key.
    # @param id [String] The unique administrative identifier (ID) of the parent license key.
    # @param [Hash] opts the optional parameters
    # @return [Array<Instance>]
    def licenses_get_instances(id, opts = {})
      data, _status_code, _headers = licenses_get_instances_with_http_info(id, opts)
      data
    end

    # Get License Key Instances
    # Retrieve all active devices/instances for a specific administrative license key.
    # @param id [String] The unique administrative identifier (ID) of the parent license key.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<Instance>, Integer, Hash)>] Array<Instance> data, response status code and response headers
    def licenses_get_instances_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LicenseKeysApi.licenses_get_instances ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling LicenseKeysApi.licenses_get_instances"
      end
      # resource path
      local_var_path = '/v1/licenses/{id}/instances'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Instance>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"LicenseKeysApi.licenses_get_instances",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LicenseKeysApi#licenses_get_instances\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List License Keys
    # List all administrative license keys belonging to products under your active business.
    # @param [Hash] opts the optional parameters
    # @return [Array<License>]
    def licenses_list(opts = {})
      data, _status_code, _headers = licenses_list_with_http_info(opts)
      data
    end

    # List License Keys
    # List all administrative license keys belonging to products under your active business.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<License>, Integer, Hash)>] Array<License> data, response status code and response headers
    def licenses_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LicenseKeysApi.licenses_list ...'
      end
      # resource path
      local_var_path = '/v1/licenses'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<License>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"LicenseKeysApi.licenses_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LicenseKeysApi#licenses_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Toggle License Status
    # Toggle the status of a specific license key between ACTIVE and DISABLED.
    # @param id [String] The unique license key ID.
    # @param [Hash] opts the optional parameters
    # @return [License]
    def licenses_toggle(id, opts = {})
      data, _status_code, _headers = licenses_toggle_with_http_info(id, opts)
      data
    end

    # Toggle License Status
    # Toggle the status of a specific license key between ACTIVE and DISABLED.
    # @param id [String] The unique license key ID.
    # @param [Hash] opts the optional parameters
    # @return [Array<(License, Integer, Hash)>] License data, response status code and response headers
    def licenses_toggle_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LicenseKeysApi.licenses_toggle ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling LicenseKeysApi.licenses_toggle"
      end
      # resource path
      local_var_path = '/v1/licenses/{id}/toggle'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'License'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"LicenseKeysApi.licenses_toggle",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LicenseKeysApi#licenses_toggle\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update License Key
    # Update limits or status of an existing license key.
    # @param id [String] The unique license key ID.
    # @param licenses_update_request [LicensesUpdateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [License]
    def licenses_update(id, licenses_update_request, opts = {})
      data, _status_code, _headers = licenses_update_with_http_info(id, licenses_update_request, opts)
      data
    end

    # Update License Key
    # Update limits or status of an existing license key.
    # @param id [String] The unique license key ID.
    # @param licenses_update_request [LicensesUpdateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(License, Integer, Hash)>] License data, response status code and response headers
    def licenses_update_with_http_info(id, licenses_update_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LicenseKeysApi.licenses_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling LicenseKeysApi.licenses_update"
      end
      # verify the required parameter 'licenses_update_request' is set
      if @api_client.config.client_side_validation && licenses_update_request.nil?
        fail ArgumentError, "Missing the required parameter 'licenses_update_request' when calling LicenseKeysApi.licenses_update"
      end
      # resource path
      local_var_path = '/v1/licenses/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(licenses_update_request)

      # return_type
      return_type = opts[:debug_return_type] || 'License'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"LicenseKeysApi.licenses_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LicenseKeysApi#licenses_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update License Key Instance
    # Update administrative details (like friendly display name or custom IP) of an active license device instance.
    # @param instance_id [String] The client-generated instance ID (hardware hash) or the internal database ID of the instance.
    # @param id [String] The unique administrative identifier (ID) of the parent license key.
    # @param licenses_update_instance_post_request [LicensesUpdateInstancePostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Instance]
    def licenses_update_instance(instance_id, id, licenses_update_instance_post_request, opts = {})
      data, _status_code, _headers = licenses_update_instance_with_http_info(instance_id, id, licenses_update_instance_post_request, opts)
      data
    end

    # Update License Key Instance
    # Update administrative details (like friendly display name or custom IP) of an active license device instance.
    # @param instance_id [String] The client-generated instance ID (hardware hash) or the internal database ID of the instance.
    # @param id [String] The unique administrative identifier (ID) of the parent license key.
    # @param licenses_update_instance_post_request [LicensesUpdateInstancePostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Instance, Integer, Hash)>] Instance data, response status code and response headers
    def licenses_update_instance_with_http_info(instance_id, id, licenses_update_instance_post_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LicenseKeysApi.licenses_update_instance ...'
      end
      # verify the required parameter 'instance_id' is set
      if @api_client.config.client_side_validation && instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'instance_id' when calling LicenseKeysApi.licenses_update_instance"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling LicenseKeysApi.licenses_update_instance"
      end
      # verify the required parameter 'licenses_update_instance_post_request' is set
      if @api_client.config.client_side_validation && licenses_update_instance_post_request.nil?
        fail ArgumentError, "Missing the required parameter 'licenses_update_instance_post_request' when calling LicenseKeysApi.licenses_update_instance"
      end
      # resource path
      local_var_path = '/v1/licenses/{id}/instances/{instanceId}'.sub('{' + 'instanceId' + '}', CGI.escape(instance_id.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(licenses_update_instance_post_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Instance'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"LicenseKeysApi.licenses_update_instance",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LicenseKeysApi#licenses_update_instance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update License Key Instance (POST)
    # Alternative POST endpoint to update administrative details (like friendly display name or custom IP) of an active license device instance.
    # @param instance_id [String] The client-generated instance ID (hardware hash) or the internal database ID of the instance.
    # @param id [String] The unique administrative identifier (ID) of the parent license key.
    # @param licenses_update_instance_post_request [LicensesUpdateInstancePostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Instance]
    def licenses_update_instance_post(instance_id, id, licenses_update_instance_post_request, opts = {})
      data, _status_code, _headers = licenses_update_instance_post_with_http_info(instance_id, id, licenses_update_instance_post_request, opts)
      data
    end

    # Update License Key Instance (POST)
    # Alternative POST endpoint to update administrative details (like friendly display name or custom IP) of an active license device instance.
    # @param instance_id [String] The client-generated instance ID (hardware hash) or the internal database ID of the instance.
    # @param id [String] The unique administrative identifier (ID) of the parent license key.
    # @param licenses_update_instance_post_request [LicensesUpdateInstancePostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Instance, Integer, Hash)>] Instance data, response status code and response headers
    def licenses_update_instance_post_with_http_info(instance_id, id, licenses_update_instance_post_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LicenseKeysApi.licenses_update_instance_post ...'
      end
      # verify the required parameter 'instance_id' is set
      if @api_client.config.client_side_validation && instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'instance_id' when calling LicenseKeysApi.licenses_update_instance_post"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling LicenseKeysApi.licenses_update_instance_post"
      end
      # verify the required parameter 'licenses_update_instance_post_request' is set
      if @api_client.config.client_side_validation && licenses_update_instance_post_request.nil?
        fail ArgumentError, "Missing the required parameter 'licenses_update_instance_post_request' when calling LicenseKeysApi.licenses_update_instance_post"
      end
      # resource path
      local_var_path = '/v1/licenses/{id}/instances/{instanceId}'.sub('{' + 'instanceId' + '}', CGI.escape(instance_id.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(licenses_update_instance_post_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Instance'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"LicenseKeysApi.licenses_update_instance_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LicenseKeysApi#licenses_update_instance_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
