=begin
#Solifyn API

#Welcome to the Solifyn API Reference. Leverage our secure endpoints to manage products and issue, validate, and manage software license keys programmatically.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module Solifyn
  class MetersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Ingest Events
    # Ingest usage events for meters.
    # @param meter_ingest_request_dto [MeterIngestRequestDto] 
    # @param [Hash] opts the optional parameters
    # @return [MeterIngestResponseDto]
    def events_ingest(meter_ingest_request_dto, opts = {})
      data, _status_code, _headers = events_ingest_with_http_info(meter_ingest_request_dto, opts)
      data
    end

    # Ingest Events
    # Ingest usage events for meters.
    # @param meter_ingest_request_dto [MeterIngestRequestDto] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MeterIngestResponseDto, Integer, Hash)>] MeterIngestResponseDto data, response status code and response headers
    def events_ingest_with_http_info(meter_ingest_request_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MetersApi.events_ingest ...'
      end
      # verify the required parameter 'meter_ingest_request_dto' is set
      if @api_client.config.client_side_validation && meter_ingest_request_dto.nil?
        fail ArgumentError, "Missing the required parameter 'meter_ingest_request_dto' when calling MetersApi.events_ingest"
      end
      # resource path
      local_var_path = '/v1/meters/ingest'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(meter_ingest_request_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'MeterIngestResponseDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"MetersApi.events_ingest",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MetersApi#events_ingest\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Meter
    # Create a new usage meter for event-based billing and usage tracking.
    # @param create_meter_dto [CreateMeterDto] 
    # @param [Hash] opts the optional parameters
    # @return [MeterResponseDto]
    def meters_create(create_meter_dto, opts = {})
      data, _status_code, _headers = meters_create_with_http_info(create_meter_dto, opts)
      data
    end

    # Create Meter
    # Create a new usage meter for event-based billing and usage tracking.
    # @param create_meter_dto [CreateMeterDto] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MeterResponseDto, Integer, Hash)>] MeterResponseDto data, response status code and response headers
    def meters_create_with_http_info(create_meter_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MetersApi.meters_create ...'
      end
      # verify the required parameter 'create_meter_dto' is set
      if @api_client.config.client_side_validation && create_meter_dto.nil?
        fail ArgumentError, "Missing the required parameter 'create_meter_dto' when calling MetersApi.meters_create"
      end
      # resource path
      local_var_path = '/v1/meters'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_meter_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'MeterResponseDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"MetersApi.meters_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MetersApi#meters_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve Meter
    # Retrieve a meter and its most recent usage events.
    # @param id [String] The unique meter ID.
    # @param start_date [String] 
    # @param end_date [String] 
    # @param [Hash] opts the optional parameters
    # @return [MeterDetailResponseDto]
    def meters_get(id, start_date, end_date, opts = {})
      data, _status_code, _headers = meters_get_with_http_info(id, start_date, end_date, opts)
      data
    end

    # Retrieve Meter
    # Retrieve a meter and its most recent usage events.
    # @param id [String] The unique meter ID.
    # @param start_date [String] 
    # @param end_date [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MeterDetailResponseDto, Integer, Hash)>] MeterDetailResponseDto data, response status code and response headers
    def meters_get_with_http_info(id, start_date, end_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MetersApi.meters_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MetersApi.meters_get"
      end
      # verify the required parameter 'start_date' is set
      if @api_client.config.client_side_validation && start_date.nil?
        fail ArgumentError, "Missing the required parameter 'start_date' when calling MetersApi.meters_get"
      end
      # verify the required parameter 'end_date' is set
      if @api_client.config.client_side_validation && end_date.nil?
        fail ArgumentError, "Missing the required parameter 'end_date' when calling MetersApi.meters_get"
      end
      # resource path
      local_var_path = '/v1/meters/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'start_date'] = start_date
      query_params[:'end_date'] = end_date

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MeterDetailResponseDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"MetersApi.meters_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MetersApi#meters_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Meter Events
    # List recent usage events recorded for a meter.
    # @param id [String] The unique meter ID.
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :limit Maximum number of usage events to return. (default to 100)
    # @return [MeterEventsResponseDto]
    def meters_get_events(id, opts = {})
      data, _status_code, _headers = meters_get_events_with_http_info(id, opts)
      data
    end

    # List Meter Events
    # List recent usage events recorded for a meter.
    # @param id [String] The unique meter ID.
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :limit Maximum number of usage events to return. (default to 100)
    # @return [Array<(MeterEventsResponseDto, Integer, Hash)>] MeterEventsResponseDto data, response status code and response headers
    def meters_get_events_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MetersApi.meters_get_events ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MetersApi.meters_get_events"
      end
      # resource path
      local_var_path = '/v1/meters/{id}/events'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MeterEventsResponseDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"MetersApi.meters_get_events",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MetersApi#meters_get_events\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Meter Quantities
    # Get aggregated usage quantities for a meter within an optional date range.
    # @param id [String] The unique meter ID.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :start_date Inclusive start date in ISO 8601 format.
    # @option opts [String] :end_date Inclusive end date in ISO 8601 format.
    # @return [MeterQuantitiesResponseDto]
    def meters_get_quantities(id, opts = {})
      data, _status_code, _headers = meters_get_quantities_with_http_info(id, opts)
      data
    end

    # Get Meter Quantities
    # Get aggregated usage quantities for a meter within an optional date range.
    # @param id [String] The unique meter ID.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :start_date Inclusive start date in ISO 8601 format.
    # @option opts [String] :end_date Inclusive end date in ISO 8601 format.
    # @return [Array<(MeterQuantitiesResponseDto, Integer, Hash)>] MeterQuantitiesResponseDto data, response status code and response headers
    def meters_get_quantities_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MetersApi.meters_get_quantities ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MetersApi.meters_get_quantities"
      end
      # resource path
      local_var_path = '/v1/meters/{id}/quantities'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'start_date'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'end_date'] = opts[:'end_date'] if !opts[:'end_date'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MeterQuantitiesResponseDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"MetersApi.meters_get_quantities",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MetersApi#meters_get_quantities\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Meters
    # List meters belonging to your active business. You can filter by archived status.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status Filter by meter status.
    # @return [Array<MeterResponseDto>]
    def meters_list(opts = {})
      data, _status_code, _headers = meters_list_with_http_info(opts)
      data
    end

    # List Meters
    # List meters belonging to your active business. You can filter by archived status.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status Filter by meter status.
    # @return [Array<(Array<MeterResponseDto>, Integer, Hash)>] Array<MeterResponseDto> data, response status code and response headers
    def meters_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MetersApi.meters_list ...'
      end
      allowable_values = ["active", "archived"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/meters'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<MeterResponseDto>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"MetersApi.meters_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MetersApi#meters_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Meter
    # Update an existing meter definition.
    # @param id [String] The unique meter ID.
    # @param update_meter_dto [UpdateMeterDto] 
    # @param [Hash] opts the optional parameters
    # @return [MeterResponseDto]
    def meters_update(id, update_meter_dto, opts = {})
      data, _status_code, _headers = meters_update_with_http_info(id, update_meter_dto, opts)
      data
    end

    # Update Meter
    # Update an existing meter definition.
    # @param id [String] The unique meter ID.
    # @param update_meter_dto [UpdateMeterDto] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MeterResponseDto, Integer, Hash)>] MeterResponseDto data, response status code and response headers
    def meters_update_with_http_info(id, update_meter_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MetersApi.meters_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MetersApi.meters_update"
      end
      # verify the required parameter 'update_meter_dto' is set
      if @api_client.config.client_side_validation && update_meter_dto.nil?
        fail ArgumentError, "Missing the required parameter 'update_meter_dto' when calling MetersApi.meters_update"
      end
      # resource path
      local_var_path = '/v1/meters/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_meter_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'MeterResponseDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"MetersApi.meters_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MetersApi#meters_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
