=begin
#Solifyn API

#Welcome to the Solifyn API Reference. Leverage our secure endpoints to manage products and issue, validate, and manage software license keys programmatically.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module Solifyn
  class OrdersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Retrieve Order
    # Retrieve details of a specific order/payment by ID.
    # @param id [String] The unique order/payment ID.
    # @param [Hash] opts the optional parameters
    # @return [Order]
    def orders_get(id, opts = {})
      data, _status_code, _headers = orders_get_with_http_info(id, opts)
      data
    end

    # Retrieve Order
    # Retrieve details of a specific order/payment by ID.
    # @param id [String] The unique order/payment ID.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Order, Integer, Hash)>] Order data, response status code and response headers
    def orders_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrdersApi.orders_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling OrdersApi.orders_get"
      end
      # resource path
      local_var_path = '/v1/orders/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Order'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"OrdersApi.orders_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrdersApi#orders_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Order Invoice
    # Retrieve the generated invoice details for the specified order.
    # @param id [String] The unique order/payment ID.
    # @param [Hash] opts the optional parameters
    # @return [Invoice]
    def orders_get_invoice(id, opts = {})
      data, _status_code, _headers = orders_get_invoice_with_http_info(id, opts)
      data
    end

    # Get Order Invoice
    # Retrieve the generated invoice details for the specified order.
    # @param id [String] The unique order/payment ID.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Invoice, Integer, Hash)>] Invoice data, response status code and response headers
    def orders_get_invoice_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrdersApi.orders_get_invoice ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling OrdersApi.orders_get_invoice"
      end
      # resource path
      local_var_path = '/v1/orders/{id}/invoice'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Invoice'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OrdersApi.orders_get_invoice",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrdersApi#orders_get_invoice\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Orders
    # List and query orders/payments belonging to your active business.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :created_at_lte Filter by creation date less than or equal to.
    # @option opts [String] :created_at_gte Filter by creation date greater than or equal to.
    # @option opts [String] :product_id Filter by product identifier.
    # @option opts [String] :customer_id Filter by customer identifier.
    # @option opts [String] :status Filter by order/payment status.
    # @option opts [Float] :page_size Size of a page, defaults to 10. Maximum is 100. (default to 10)
    # @option opts [Float] :page_number Page number, defaults to 1. (default to 1)
    # @return [OrderList]
    def orders_list(opts = {})
      data, _status_code, _headers = orders_list_with_http_info(opts)
      data
    end

    # List Orders
    # List and query orders/payments belonging to your active business.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :created_at_lte Filter by creation date less than or equal to.
    # @option opts [String] :created_at_gte Filter by creation date greater than or equal to.
    # @option opts [String] :product_id Filter by product identifier.
    # @option opts [String] :customer_id Filter by customer identifier.
    # @option opts [String] :status Filter by order/payment status.
    # @option opts [Float] :page_size Size of a page, defaults to 10. Maximum is 100. (default to 10)
    # @option opts [Float] :page_number Page number, defaults to 1. (default to 1)
    # @return [Array<(OrderList, Integer, Hash)>] OrderList data, response status code and response headers
    def orders_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrdersApi.orders_list ...'
      end
      # resource path
      local_var_path = '/v1/orders'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'createdAtLte'] = opts[:'created_at_lte'] if !opts[:'created_at_lte'].nil?
      query_params[:'createdAtGte'] = opts[:'created_at_gte'] if !opts[:'created_at_gte'].nil?
      query_params[:'product_id'] = opts[:'product_id'] if !opts[:'product_id'].nil?
      query_params[:'customer_id'] = opts[:'customer_id'] if !opts[:'customer_id'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'pageNumber'] = opts[:'page_number'] if !opts[:'page_number'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OrderList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"OrdersApi.orders_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrdersApi#orders_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Order Billing Address
    # Update the billing details of an existing order.
    # @param id [String] The unique order/payment ID.
    # @param order_update [OrderUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [Order]
    def orders_update(id, order_update, opts = {})
      data, _status_code, _headers = orders_update_with_http_info(id, order_update, opts)
      data
    end

    # Update Order Billing Address
    # Update the billing details of an existing order.
    # @param id [String] The unique order/payment ID.
    # @param order_update [OrderUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Order, Integer, Hash)>] Order data, response status code and response headers
    def orders_update_with_http_info(id, order_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrdersApi.orders_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling OrdersApi.orders_update"
      end
      # verify the required parameter 'order_update' is set
      if @api_client.config.client_side_validation && order_update.nil?
        fail ArgumentError, "Missing the required parameter 'order_update' when calling OrdersApi.orders_update"
      end
      # resource path
      local_var_path = '/v1/orders/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(order_update)

      # return_type
      return_type = opts[:debug_return_type] || 'Order'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"OrdersApi.orders_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrdersApi#orders_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Refund
    # Initiate a full or partial refund for a specific payment/order.
    # @param id [String] The unique order/payment ID.
    # @param order_refund_create [OrderRefundCreate] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def refunds_create(id, order_refund_create, opts = {})
      refunds_create_with_http_info(id, order_refund_create, opts)
      nil
    end

    # Create Refund
    # Initiate a full or partial refund for a specific payment/order.
    # @param id [String] The unique order/payment ID.
    # @param order_refund_create [OrderRefundCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def refunds_create_with_http_info(id, order_refund_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrdersApi.refunds_create ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling OrdersApi.refunds_create"
      end
      # verify the required parameter 'order_refund_create' is set
      if @api_client.config.client_side_validation && order_refund_create.nil?
        fail ArgumentError, "Missing the required parameter 'order_refund_create' when calling OrdersApi.refunds_create"
      end
      # resource path
      local_var_path = '/v1/orders/{id}/refund'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(order_refund_create)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"OrdersApi.refunds_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrdersApi#refunds_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
