=begin
#Solifyn API

#Welcome to the Solifyn API Reference. Leverage our secure endpoints to manage products and issue, validate, and manage software license keys programmatically.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module Solifyn
  class ProductAddOnsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Product Add-on
    # Attach a new add-on configuration to a product.
    # @param id [String] The parent product ID.
    # @param addon_create [AddonCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Addon]
    def products_create_addon(id, addon_create, opts = {})
      data, _status_code, _headers = products_create_addon_with_http_info(id, addon_create, opts)
      data
    end

    # Create Product Add-on
    # Attach a new add-on configuration to a product.
    # @param id [String] The parent product ID.
    # @param addon_create [AddonCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Addon, Integer, Hash)>] Addon data, response status code and response headers
    def products_create_addon_with_http_info(id, addon_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductAddOnsApi.products_create_addon ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProductAddOnsApi.products_create_addon"
      end
      # verify the required parameter 'addon_create' is set
      if @api_client.config.client_side_validation && addon_create.nil?
        fail ArgumentError, "Missing the required parameter 'addon_create' when calling ProductAddOnsApi.products_create_addon"
      end
      # resource path
      local_var_path = '/v1/products/{id}/addons'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(addon_create)

      # return_type
      return_type = opts[:debug_return_type] || 'Addon'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"ProductAddOnsApi.products_create_addon",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductAddOnsApi#products_create_addon\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Product Add-on
    # Remove an add-on configuration from a product.
    # @param id [String] The parent product ID.
    # @param addon_id [String] The add-on product ID to remove.
    # @param [Hash] opts the optional parameters
    # @return [ProductMessageResponseDto]
    def products_delete_addon(id, addon_id, opts = {})
      data, _status_code, _headers = products_delete_addon_with_http_info(id, addon_id, opts)
      data
    end

    # Delete Product Add-on
    # Remove an add-on configuration from a product.
    # @param id [String] The parent product ID.
    # @param addon_id [String] The add-on product ID to remove.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProductMessageResponseDto, Integer, Hash)>] ProductMessageResponseDto data, response status code and response headers
    def products_delete_addon_with_http_info(id, addon_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductAddOnsApi.products_delete_addon ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProductAddOnsApi.products_delete_addon"
      end
      # verify the required parameter 'addon_id' is set
      if @api_client.config.client_side_validation && addon_id.nil?
        fail ArgumentError, "Missing the required parameter 'addon_id' when calling ProductAddOnsApi.products_delete_addon"
      end
      # resource path
      local_var_path = '/v1/products/{id}/addons/{addonId}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'addonId' + '}', CGI.escape(addon_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProductMessageResponseDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"ProductAddOnsApi.products_delete_addon",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductAddOnsApi#products_delete_addon\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve Product Add-on
    # Retrieve a specific add-on configuration of a product.
    # @param id [String] The parent product ID.
    # @param addon_id [String] The add-on product ID.
    # @param [Hash] opts the optional parameters
    # @return [Addon]
    def products_get_addon(id, addon_id, opts = {})
      data, _status_code, _headers = products_get_addon_with_http_info(id, addon_id, opts)
      data
    end

    # Retrieve Product Add-on
    # Retrieve a specific add-on configuration of a product.
    # @param id [String] The parent product ID.
    # @param addon_id [String] The add-on product ID.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Addon, Integer, Hash)>] Addon data, response status code and response headers
    def products_get_addon_with_http_info(id, addon_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductAddOnsApi.products_get_addon ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProductAddOnsApi.products_get_addon"
      end
      # verify the required parameter 'addon_id' is set
      if @api_client.config.client_side_validation && addon_id.nil?
        fail ArgumentError, "Missing the required parameter 'addon_id' when calling ProductAddOnsApi.products_get_addon"
      end
      # resource path
      local_var_path = '/v1/products/{id}/addons/{addonId}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'addonId' + '}', CGI.escape(addon_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Addon'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"ProductAddOnsApi.products_get_addon",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductAddOnsApi#products_get_addon\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Product Add-ons
    # Retrieve all add-on configurations attached to a product.
    # @param id [String] The parent product ID.
    # @param [Hash] opts the optional parameters
    # @return [Array<Addon>]
    def products_list_addons(id, opts = {})
      data, _status_code, _headers = products_list_addons_with_http_info(id, opts)
      data
    end

    # List Product Add-ons
    # Retrieve all add-on configurations attached to a product.
    # @param id [String] The parent product ID.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<Addon>, Integer, Hash)>] Array<Addon> data, response status code and response headers
    def products_list_addons_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductAddOnsApi.products_list_addons ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProductAddOnsApi.products_list_addons"
      end
      # resource path
      local_var_path = '/v1/products/{id}/addons'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Addon>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"ProductAddOnsApi.products_list_addons",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductAddOnsApi#products_list_addons\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List All Add-ons
    # Retrieve all configured add-on configurations for the active business.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def products_list_all_addons(opts = {})
      products_list_all_addons_with_http_info(opts)
      nil
    end

    # List All Add-ons
    # Retrieve all configured add-on configurations for the active business.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def products_list_all_addons_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductAddOnsApi.products_list_all_addons ...'
      end
      # resource path
      local_var_path = '/v1/products/all-addons/list'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"ProductAddOnsApi.products_list_all_addons",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductAddOnsApi#products_list_all_addons\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Product Add-on
    # Update an existing add-on configuration for a product.
    # @param id [String] The parent product ID.
    # @param addon_id [String] The add-on product ID.
    # @param addon_update [AddonUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [Addon]
    def products_update_addon(id, addon_id, addon_update, opts = {})
      data, _status_code, _headers = products_update_addon_with_http_info(id, addon_id, addon_update, opts)
      data
    end

    # Update Product Add-on
    # Update an existing add-on configuration for a product.
    # @param id [String] The parent product ID.
    # @param addon_id [String] The add-on product ID.
    # @param addon_update [AddonUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Addon, Integer, Hash)>] Addon data, response status code and response headers
    def products_update_addon_with_http_info(id, addon_id, addon_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductAddOnsApi.products_update_addon ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProductAddOnsApi.products_update_addon"
      end
      # verify the required parameter 'addon_id' is set
      if @api_client.config.client_side_validation && addon_id.nil?
        fail ArgumentError, "Missing the required parameter 'addon_id' when calling ProductAddOnsApi.products_update_addon"
      end
      # verify the required parameter 'addon_update' is set
      if @api_client.config.client_side_validation && addon_update.nil?
        fail ArgumentError, "Missing the required parameter 'addon_update' when calling ProductAddOnsApi.products_update_addon"
      end
      # resource path
      local_var_path = '/v1/products/{id}/addons/{addonId}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'addonId' + '}', CGI.escape(addon_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(addon_update)

      # return_type
      return_type = opts[:debug_return_type] || 'Addon'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"ProductAddOnsApi.products_update_addon",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductAddOnsApi#products_update_addon\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
