=begin
#Solifyn API

#Welcome to the Solifyn API Reference. Leverage our secure endpoints to manage products and issue, validate, and manage software license keys programmatically.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module Solifyn
  class ProductsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Archive Product
    # Archive a specific product to hide it from checkout pages and search results. Products are soft-deleted (archived) and can be restored using the unarchive endpoint.
    # @param id [String] The unique product ID to archive.
    # @param [Hash] opts the optional parameters
    # @return [ProductsArchive200Response]
    def products_archive(id, opts = {})
      data, _status_code, _headers = products_archive_with_http_info(id, opts)
      data
    end

    # Archive Product
    # Archive a specific product to hide it from checkout pages and search results. Products are soft-deleted (archived) and can be restored using the unarchive endpoint.
    # @param id [String] The unique product ID to archive.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProductsArchive200Response, Integer, Hash)>] ProductsArchive200Response data, response status code and response headers
    def products_archive_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductsApi.products_archive ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProductsApi.products_archive"
      end
      # resource path
      local_var_path = '/v1/products/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProductsArchive200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"ProductsApi.products_archive",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductsApi#products_archive\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Product
    # Create a new product within your active business.
    # @param product_create [ProductCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Product]
    def products_create(product_create, opts = {})
      data, _status_code, _headers = products_create_with_http_info(product_create, opts)
      data
    end

    # Create Product
    # Create a new product within your active business.
    # @param product_create [ProductCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Product, Integer, Hash)>] Product data, response status code and response headers
    def products_create_with_http_info(product_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductsApi.products_create ...'
      end
      # verify the required parameter 'product_create' is set
      if @api_client.config.client_side_validation && product_create.nil?
        fail ArgumentError, "Missing the required parameter 'product_create' when calling ProductsApi.products_create"
      end
      # resource path
      local_var_path = '/v1/products'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(product_create)

      # return_type
      return_type = opts[:debug_return_type] || 'Product'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"ProductsApi.products_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductsApi#products_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve Product
    # Retrieve details of a specific product using its ID.
    # @param id [String] The unique product ID.
    # @param [Hash] opts the optional parameters
    # @return [Product]
    def products_get(id, opts = {})
      data, _status_code, _headers = products_get_with_http_info(id, opts)
      data
    end

    # Retrieve Product
    # Retrieve details of a specific product using its ID.
    # @param id [String] The unique product ID.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Product, Integer, Hash)>] Product data, response status code and response headers
    def products_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductsApi.products_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProductsApi.products_get"
      end
      # resource path
      local_var_path = '/v1/products/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Product'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"ProductsApi.products_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductsApi#products_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Products
    # List and query products belonging to your active business with support for fuzzy search, filters, pagination, and sorting.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :pricing_type Filter by pricing type.
    # @option opts [String] :sorting Sorting criterion. Add a minus sign - before the criteria name to sort by descending order.
    # @option opts [Float] :limit Size of a page, defaults to 10. Maximum is 100. (default to 10)
    # @option opts [Float] :page Page number, defaults to 1. (default to 1)
    # @option opts [Boolean] :is_recurring Filter on recurring products (subscriptions). If true, only subscription tiers are returned. If false, only one-time purchase products are returned.
    # @option opts [Boolean] :is_archived Filter by archived status.
    # @option opts [String] :query Filter by product name (fuzzy, case-insensitive).
    # @option opts [String] :id Filter by product ID.
    # @return [ProductsList200Response]
    def products_list(opts = {})
      data, _status_code, _headers = products_list_with_http_info(opts)
      data
    end

    # List Products
    # List and query products belonging to your active business with support for fuzzy search, filters, pagination, and sorting.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :pricing_type Filter by pricing type.
    # @option opts [String] :sorting Sorting criterion. Add a minus sign - before the criteria name to sort by descending order.
    # @option opts [Float] :limit Size of a page, defaults to 10. Maximum is 100. (default to 10)
    # @option opts [Float] :page Page number, defaults to 1. (default to 1)
    # @option opts [Boolean] :is_recurring Filter on recurring products (subscriptions). If true, only subscription tiers are returned. If false, only one-time purchase products are returned.
    # @option opts [Boolean] :is_archived Filter by archived status.
    # @option opts [String] :query Filter by product name (fuzzy, case-insensitive).
    # @option opts [String] :id Filter by product ID.
    # @return [Array<(ProductsList200Response, Integer, Hash)>] ProductsList200Response data, response status code and response headers
    def products_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductsApi.products_list ...'
      end
      allowable_values = ["created_at", "-created_at", "name", "-name", "price_amount", "-price_amount"]
      if @api_client.config.client_side_validation && opts[:'sorting'] && !allowable_values.include?(opts[:'sorting'])
        fail ArgumentError, "invalid value for \"sorting\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/products'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'pricingType'] = opts[:'pricing_type'] if !opts[:'pricing_type'].nil?
      query_params[:'sorting'] = opts[:'sorting'] if !opts[:'sorting'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'is_recurring'] = opts[:'is_recurring'] if !opts[:'is_recurring'].nil?
      query_params[:'is_archived'] = opts[:'is_archived'] if !opts[:'is_archived'].nil?
      query_params[:'query'] = opts[:'query'] if !opts[:'query'].nil?
      query_params[:'id'] = opts[:'id'] if !opts[:'id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProductsList200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"ProductsApi.products_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductsApi#products_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Unarchive Product
    # Restore an archived product back to active status, making it visible again.
    # @param id [String] The unique product ID to unarchive.
    # @param [Hash] opts the optional parameters
    # @return [ProductsUnarchive200Response]
    def products_unarchive(id, opts = {})
      data, _status_code, _headers = products_unarchive_with_http_info(id, opts)
      data
    end

    # Unarchive Product
    # Restore an archived product back to active status, making it visible again.
    # @param id [String] The unique product ID to unarchive.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProductsUnarchive200Response, Integer, Hash)>] ProductsUnarchive200Response data, response status code and response headers
    def products_unarchive_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductsApi.products_unarchive ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProductsApi.products_unarchive"
      end
      # resource path
      local_var_path = '/v1/products/{id}/unarchive'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProductsUnarchive200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"ProductsApi.products_unarchive",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductsApi#products_unarchive\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Product
    # Update details of an existing product.
    # @param id [String] The unique product ID.
    # @param product_update [ProductUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [ProductMessageResponseDto]
    def products_update(id, product_update, opts = {})
      data, _status_code, _headers = products_update_with_http_info(id, product_update, opts)
      data
    end

    # Update Product
    # Update details of an existing product.
    # @param id [String] The unique product ID.
    # @param product_update [ProductUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProductMessageResponseDto, Integer, Hash)>] ProductMessageResponseDto data, response status code and response headers
    def products_update_with_http_info(id, product_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductsApi.products_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProductsApi.products_update"
      end
      # verify the required parameter 'product_update' is set
      if @api_client.config.client_side_validation && product_update.nil?
        fail ArgumentError, "Missing the required parameter 'product_update' when calling ProductsApi.products_update"
      end
      # resource path
      local_var_path = '/v1/products/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(product_update)

      # return_type
      return_type = opts[:debug_return_type] || 'ProductMessageResponseDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"ProductsApi.products_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductsApi#products_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
