=begin
#Solifyn API

#Welcome to the Solifyn API Reference. Leverage our secure endpoints to manage products and issue, validate, and manage software license keys programmatically.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module Solifyn
  class RefundsChargebacksApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Refund
    # Initiate a full or partial refund for a specific payment/order.
    # @param id [String] The unique order/payment ID.
    # @param order_refund_create [OrderRefundCreate] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def refunds_create(id, order_refund_create, opts = {})
      refunds_create_with_http_info(id, order_refund_create, opts)
      nil
    end

    # Create Refund
    # Initiate a full or partial refund for a specific payment/order.
    # @param id [String] The unique order/payment ID.
    # @param order_refund_create [OrderRefundCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def refunds_create_with_http_info(id, order_refund_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RefundsChargebacksApi.refunds_create ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RefundsChargebacksApi.refunds_create"
      end
      # verify the required parameter 'order_refund_create' is set
      if @api_client.config.client_side_validation && order_refund_create.nil?
        fail ArgumentError, "Missing the required parameter 'order_refund_create' when calling RefundsChargebacksApi.refunds_create"
      end
      # resource path
      local_var_path = '/v1/orders/{id}/refund'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(order_refund_create)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"RefundsChargebacksApi.refunds_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RefundsChargebacksApi#refunds_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve Refund details
    # Get parameters of a specific processed refund by database ID.
    # @param id [String] Refund ID
    # @param [Hash] opts the optional parameters
    # @return [Refund]
    def refunds_get(id, opts = {})
      data, _status_code, _headers = refunds_get_with_http_info(id, opts)
      data
    end

    # Retrieve Refund details
    # Get parameters of a specific processed refund by database ID.
    # @param id [String] Refund ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(Refund, Integer, Hash)>] Refund data, response status code and response headers
    def refunds_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RefundsChargebacksApi.refunds_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RefundsChargebacksApi.refunds_get"
      end
      # resource path
      local_var_path = '/v1/refunds/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Refund'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"RefundsChargebacksApi.refunds_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RefundsChargebacksApi#refunds_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Refunds
    # Retrieve a list of processed refunds and chargeback transactions.
    # @param [Hash] opts the optional parameters
    # @return [Array<Refund>]
    def refunds_list(opts = {})
      data, _status_code, _headers = refunds_list_with_http_info(opts)
      data
    end

    # List Refunds
    # Retrieve a list of processed refunds and chargeback transactions.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<Refund>, Integer, Hash)>] Array<Refund> data, response status code and response headers
    def refunds_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RefundsChargebacksApi.refunds_list ...'
      end
      # resource path
      local_var_path = '/v1/refunds'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Refund>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"RefundsChargebacksApi.refunds_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RefundsChargebacksApi#refunds_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
