=begin
#Solifyn API

#Welcome to the Solifyn API Reference. Leverage our secure endpoints to manage products and issue, validate, and manage software license keys programmatically.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module Solifyn
  class SubscriptionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Subscription Action
    # Cancel, pause, resume, or add free days to a customer subscription.
    # @param subscription_id [String] The customer subscription ID
    # @param action [String] The subscription task to execute
    # @param subscription_action [SubscriptionAction] 
    # @param [Hash] opts the optional parameters
    # @return [SubscriptionsAction201Response]
    def subscriptions_action(subscription_id, action, subscription_action, opts = {})
      data, _status_code, _headers = subscriptions_action_with_http_info(subscription_id, action, subscription_action, opts)
      data
    end

    # Subscription Action
    # Cancel, pause, resume, or add free days to a customer subscription.
    # @param subscription_id [String] The customer subscription ID
    # @param action [String] The subscription task to execute
    # @param subscription_action [SubscriptionAction] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SubscriptionsAction201Response, Integer, Hash)>] SubscriptionsAction201Response data, response status code and response headers
    def subscriptions_action_with_http_info(subscription_id, action, subscription_action, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriptionsApi.subscriptions_action ...'
      end
      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling SubscriptionsApi.subscriptions_action"
      end
      # verify the required parameter 'action' is set
      if @api_client.config.client_side_validation && action.nil?
        fail ArgumentError, "Missing the required parameter 'action' when calling SubscriptionsApi.subscriptions_action"
      end
      # verify enum value
      allowable_values = ["add_free_days", "cancel", "pause", "resume", "uncancel", "adjust_seats"]
      if @api_client.config.client_side_validation && !allowable_values.include?(action)
        fail ArgumentError, "invalid value for \"action\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'subscription_action' is set
      if @api_client.config.client_side_validation && subscription_action.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_action' when calling SubscriptionsApi.subscriptions_action"
      end
      # resource path
      local_var_path = '/v1/subscriptions/{subscriptionId}/{action}'.sub('{' + 'subscriptionId' + '}', CGI.escape(subscription_id.to_s)).sub('{' + 'action' + '}', CGI.escape(action.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(subscription_action)

      # return_type
      return_type = opts[:debug_return_type] || 'SubscriptionsAction201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"SubscriptionsApi.subscriptions_action",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriptionsApi#subscriptions_action\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve Subscription Details
    # Retrieve detailed information about a subscription and its billing history.
    # @param id [String] The customer subscription ID
    # @param [Hash] opts the optional parameters
    # @return [SubscriptionDetail]
    def subscriptions_get(id, opts = {})
      data, _status_code, _headers = subscriptions_get_with_http_info(id, opts)
      data
    end

    # Retrieve Subscription Details
    # Retrieve detailed information about a subscription and its billing history.
    # @param id [String] The customer subscription ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(SubscriptionDetail, Integer, Hash)>] SubscriptionDetail data, response status code and response headers
    def subscriptions_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriptionsApi.subscriptions_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SubscriptionsApi.subscriptions_get"
      end
      # resource path
      local_var_path = '/v1/subscriptions/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SubscriptionDetail'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"SubscriptionsApi.subscriptions_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriptionsApi#subscriptions_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Subscriptions
    # Retrieve a list of customer subscriptions, optionally filtered by customer ID.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :customer_id Filter subscriptions by customer ID.
    # @return [SubscriptionList]
    def subscriptions_list(opts = {})
      data, _status_code, _headers = subscriptions_list_with_http_info(opts)
      data
    end

    # List Subscriptions
    # Retrieve a list of customer subscriptions, optionally filtered by customer ID.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :customer_id Filter subscriptions by customer ID.
    # @return [Array<(SubscriptionList, Integer, Hash)>] SubscriptionList data, response status code and response headers
    def subscriptions_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriptionsApi.subscriptions_list ...'
      end
      # resource path
      local_var_path = '/v1/subscriptions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'customerId'] = opts[:'customer_id'] if !opts[:'customer_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SubscriptionList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"SubscriptionsApi.subscriptions_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriptionsApi#subscriptions_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
