=begin
#Solifyn API

#Welcome to the Solifyn API Reference. Leverage our secure endpoints to manage products and issue, validate, and manage software license keys programmatically.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module Solifyn
  class UserProfileThemesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get My Page details
    # Retrieve page settings and custom content configured for the store.
    # @param [Hash] opts the optional parameters
    # @return [UserPage]
    def users_get_my_page(opts = {})
      data, _status_code, _headers = users_get_my_page_with_http_info(opts)
      data
    end

    # Get My Page details
    # Retrieve page settings and custom content configured for the store.
    # @param [Hash] opts the optional parameters
    # @return [Array<(UserPage, Integer, Hash)>] UserPage data, response status code and response headers
    def users_get_my_page_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserProfileThemesApi.users_get_my_page ...'
      end
      # resource path
      local_var_path = '/v1/user/my-page'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UserPage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"UserProfileThemesApi.users_get_my_page",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserProfileThemesApi#users_get_my_page\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get My Theme
    # Retrieve theme configurations for the active business context.
    # @param [Hash] opts the optional parameters
    # @return [UserTheme]
    def users_get_my_theme(opts = {})
      data, _status_code, _headers = users_get_my_theme_with_http_info(opts)
      data
    end

    # Get My Theme
    # Retrieve theme configurations for the active business context.
    # @param [Hash] opts the optional parameters
    # @return [Array<(UserTheme, Integer, Hash)>] UserTheme data, response status code and response headers
    def users_get_my_theme_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserProfileThemesApi.users_get_my_theme ...'
      end
      # resource path
      local_var_path = '/v1/user/my-theme'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UserTheme'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"UserProfileThemesApi.users_get_my_theme",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserProfileThemesApi#users_get_my_theme\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve User Settings
    # Retrieve profile settings and notification preferences for the user.
    # @param [Hash] opts the optional parameters
    # @return [UserSettings]
    def users_get_settings(opts = {})
      data, _status_code, _headers = users_get_settings_with_http_info(opts)
      data
    end

    # Retrieve User Settings
    # Retrieve profile settings and notification preferences for the user.
    # @param [Hash] opts the optional parameters
    # @return [Array<(UserSettings, Integer, Hash)>] UserSettings data, response status code and response headers
    def users_get_settings_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserProfileThemesApi.users_get_settings ...'
      end
      # resource path
      local_var_path = '/v1/user/settings'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UserSettings'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"UserProfileThemesApi.users_get_settings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserProfileThemesApi#users_get_settings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Dashboard Statistics
    # Retrieve general analytics stats (revenue, order counts, etc.) for dashboard graphs.
    # @param [Hash] opts the optional parameters
    # @return [UserStats]
    def users_get_stats(opts = {})
      data, _status_code, _headers = users_get_stats_with_http_info(opts)
      data
    end

    # Get Dashboard Statistics
    # Retrieve general analytics stats (revenue, order counts, etc.) for dashboard graphs.
    # @param [Hash] opts the optional parameters
    # @return [Array<(UserStats, Integer, Hash)>] UserStats data, response status code and response headers
    def users_get_stats_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserProfileThemesApi.users_get_stats ...'
      end
      # resource path
      local_var_path = '/v1/user/dashboard-stats'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UserStats'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"UserProfileThemesApi.users_get_stats",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserProfileThemesApi#users_get_stats\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Theme by Subdomain
    # Retrieve public theme configuration details by store subdomain.
    # @param subdomain [String] The subdomain of the store
    # @param [Hash] opts the optional parameters
    # @return [UserTheme]
    def users_get_theme_by_subdomain(subdomain, opts = {})
      data, _status_code, _headers = users_get_theme_by_subdomain_with_http_info(subdomain, opts)
      data
    end

    # Get Theme by Subdomain
    # Retrieve public theme configuration details by store subdomain.
    # @param subdomain [String] The subdomain of the store
    # @param [Hash] opts the optional parameters
    # @return [Array<(UserTheme, Integer, Hash)>] UserTheme data, response status code and response headers
    def users_get_theme_by_subdomain_with_http_info(subdomain, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserProfileThemesApi.users_get_theme_by_subdomain ...'
      end
      # verify the required parameter 'subdomain' is set
      if @api_client.config.client_side_validation && subdomain.nil?
        fail ArgumentError, "Missing the required parameter 'subdomain' when calling UserProfileThemesApi.users_get_theme_by_subdomain"
      end
      # resource path
      local_var_path = '/v1/user/theme/{subdomain}'.sub('{' + 'subdomain' + '}', CGI.escape(subdomain.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UserTheme'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"UserProfileThemesApi.users_get_theme_by_subdomain",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserProfileThemesApi#users_get_theme_by_subdomain\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
