=begin
#Solifyn API

#Welcome to the Solifyn API Reference. Leverage our secure endpoints to manage products and issue, validate, and manage software license keys programmatically.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module Solifyn
  class WebhookEndpointApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Operational Webhook Endpoint
    # @param operational_webhook_endpoint_in_dto [OperationalWebhookEndpointInDto] 
    # @param [Hash] opts the optional parameters
    # @return [OperationalWebhookEndpointResponseDto]
    def operational_webhook_controller_create(operational_webhook_endpoint_in_dto, opts = {})
      data, _status_code, _headers = operational_webhook_controller_create_with_http_info(operational_webhook_endpoint_in_dto, opts)
      data
    end

    # Create Operational Webhook Endpoint
    # @param operational_webhook_endpoint_in_dto [OperationalWebhookEndpointInDto] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(OperationalWebhookEndpointResponseDto, Integer, Hash)>] OperationalWebhookEndpointResponseDto data, response status code and response headers
    def operational_webhook_controller_create_with_http_info(operational_webhook_endpoint_in_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhookEndpointApi.operational_webhook_controller_create ...'
      end
      # verify the required parameter 'operational_webhook_endpoint_in_dto' is set
      if @api_client.config.client_side_validation && operational_webhook_endpoint_in_dto.nil?
        fail ArgumentError, "Missing the required parameter 'operational_webhook_endpoint_in_dto' when calling WebhookEndpointApi.operational_webhook_controller_create"
      end
      # resource path
      local_var_path = '/v1/operational-webhook/endpoint'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(operational_webhook_endpoint_in_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'OperationalWebhookEndpointResponseDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WebhookEndpointApi.operational_webhook_controller_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhookEndpointApi#operational_webhook_controller_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Operational Webhook Endpoint
    # @param id [String] The endpoint ID or UID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def operational_webhook_controller_delete(id, opts = {})
      operational_webhook_controller_delete_with_http_info(id, opts)
      nil
    end

    # Delete Operational Webhook Endpoint
    # @param id [String] The endpoint ID or UID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def operational_webhook_controller_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhookEndpointApi.operational_webhook_controller_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WebhookEndpointApi.operational_webhook_controller_delete"
      end
      # resource path
      local_var_path = '/v1/operational-webhook/endpoint/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WebhookEndpointApi.operational_webhook_controller_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhookEndpointApi#operational_webhook_controller_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Operational Webhook Endpoint
    # @param id [String] The endpoint ID or UID
    # @param [Hash] opts the optional parameters
    # @return [OperationalWebhookEndpointResponseDto]
    def operational_webhook_controller_get(id, opts = {})
      data, _status_code, _headers = operational_webhook_controller_get_with_http_info(id, opts)
      data
    end

    # Get Operational Webhook Endpoint
    # @param id [String] The endpoint ID or UID
    # @param [Hash] opts the optional parameters
    # @return [Array<(OperationalWebhookEndpointResponseDto, Integer, Hash)>] OperationalWebhookEndpointResponseDto data, response status code and response headers
    def operational_webhook_controller_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhookEndpointApi.operational_webhook_controller_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WebhookEndpointApi.operational_webhook_controller_get"
      end
      # resource path
      local_var_path = '/v1/operational-webhook/endpoint/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OperationalWebhookEndpointResponseDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WebhookEndpointApi.operational_webhook_controller_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhookEndpointApi#operational_webhook_controller_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Operational Webhook Endpoint Headers
    # @param id [String] The endpoint ID or UID
    # @param [Hash] opts the optional parameters
    # @return [OperationalWebhookEndpointHeadersResponseDto]
    def operational_webhook_controller_get_headers(id, opts = {})
      data, _status_code, _headers = operational_webhook_controller_get_headers_with_http_info(id, opts)
      data
    end

    # Get Operational Webhook Endpoint Headers
    # @param id [String] The endpoint ID or UID
    # @param [Hash] opts the optional parameters
    # @return [Array<(OperationalWebhookEndpointHeadersResponseDto, Integer, Hash)>] OperationalWebhookEndpointHeadersResponseDto data, response status code and response headers
    def operational_webhook_controller_get_headers_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhookEndpointApi.operational_webhook_controller_get_headers ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WebhookEndpointApi.operational_webhook_controller_get_headers"
      end
      # resource path
      local_var_path = '/v1/operational-webhook/endpoint/{id}/headers'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OperationalWebhookEndpointHeadersResponseDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WebhookEndpointApi.operational_webhook_controller_get_headers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhookEndpointApi#operational_webhook_controller_get_headers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Operational Webhook Endpoint Secret
    # @param id [String] The endpoint ID or UID
    # @param [Hash] opts the optional parameters
    # @return [OperationalWebhookEndpointSecretResponseDto]
    def operational_webhook_controller_get_secret(id, opts = {})
      data, _status_code, _headers = operational_webhook_controller_get_secret_with_http_info(id, opts)
      data
    end

    # Get Operational Webhook Endpoint Secret
    # @param id [String] The endpoint ID or UID
    # @param [Hash] opts the optional parameters
    # @return [Array<(OperationalWebhookEndpointSecretResponseDto, Integer, Hash)>] OperationalWebhookEndpointSecretResponseDto data, response status code and response headers
    def operational_webhook_controller_get_secret_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhookEndpointApi.operational_webhook_controller_get_secret ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WebhookEndpointApi.operational_webhook_controller_get_secret"
      end
      # resource path
      local_var_path = '/v1/operational-webhook/endpoint/{id}/secret'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OperationalWebhookEndpointSecretResponseDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WebhookEndpointApi.operational_webhook_controller_get_secret",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhookEndpointApi#operational_webhook_controller_get_secret\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Operational Webhook Endpoints
    # @param [Hash] opts the optional parameters
    # @return [OperationalWebhookEndpointListResponseDto]
    def operational_webhook_controller_list(opts = {})
      data, _status_code, _headers = operational_webhook_controller_list_with_http_info(opts)
      data
    end

    # List Operational Webhook Endpoints
    # @param [Hash] opts the optional parameters
    # @return [Array<(OperationalWebhookEndpointListResponseDto, Integer, Hash)>] OperationalWebhookEndpointListResponseDto data, response status code and response headers
    def operational_webhook_controller_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhookEndpointApi.operational_webhook_controller_list ...'
      end
      # resource path
      local_var_path = '/v1/operational-webhook/endpoint'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OperationalWebhookEndpointListResponseDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WebhookEndpointApi.operational_webhook_controller_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhookEndpointApi#operational_webhook_controller_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Rotate Operational Webhook Endpoint Secret
    # @param id [String] The endpoint ID or UID
    # @param operational_webhook_endpoint_secret_in_dto [OperationalWebhookEndpointSecretInDto] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def operational_webhook_controller_rotate_secret(id, operational_webhook_endpoint_secret_in_dto, opts = {})
      operational_webhook_controller_rotate_secret_with_http_info(id, operational_webhook_endpoint_secret_in_dto, opts)
      nil
    end

    # Rotate Operational Webhook Endpoint Secret
    # @param id [String] The endpoint ID or UID
    # @param operational_webhook_endpoint_secret_in_dto [OperationalWebhookEndpointSecretInDto] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def operational_webhook_controller_rotate_secret_with_http_info(id, operational_webhook_endpoint_secret_in_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhookEndpointApi.operational_webhook_controller_rotate_secret ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WebhookEndpointApi.operational_webhook_controller_rotate_secret"
      end
      # verify the required parameter 'operational_webhook_endpoint_secret_in_dto' is set
      if @api_client.config.client_side_validation && operational_webhook_endpoint_secret_in_dto.nil?
        fail ArgumentError, "Missing the required parameter 'operational_webhook_endpoint_secret_in_dto' when calling WebhookEndpointApi.operational_webhook_controller_rotate_secret"
      end
      # resource path
      local_var_path = '/v1/operational-webhook/endpoint/{id}/secret/rotate'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(operational_webhook_endpoint_secret_in_dto)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WebhookEndpointApi.operational_webhook_controller_rotate_secret",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhookEndpointApi#operational_webhook_controller_rotate_secret\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Operational Webhook Endpoint
    # @param id [String] The endpoint ID or UID
    # @param operational_webhook_endpoint_update_dto [OperationalWebhookEndpointUpdateDto] 
    # @param [Hash] opts the optional parameters
    # @return [OperationalWebhookEndpointResponseDto]
    def operational_webhook_controller_update(id, operational_webhook_endpoint_update_dto, opts = {})
      data, _status_code, _headers = operational_webhook_controller_update_with_http_info(id, operational_webhook_endpoint_update_dto, opts)
      data
    end

    # Update Operational Webhook Endpoint
    # @param id [String] The endpoint ID or UID
    # @param operational_webhook_endpoint_update_dto [OperationalWebhookEndpointUpdateDto] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(OperationalWebhookEndpointResponseDto, Integer, Hash)>] OperationalWebhookEndpointResponseDto data, response status code and response headers
    def operational_webhook_controller_update_with_http_info(id, operational_webhook_endpoint_update_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhookEndpointApi.operational_webhook_controller_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WebhookEndpointApi.operational_webhook_controller_update"
      end
      # verify the required parameter 'operational_webhook_endpoint_update_dto' is set
      if @api_client.config.client_side_validation && operational_webhook_endpoint_update_dto.nil?
        fail ArgumentError, "Missing the required parameter 'operational_webhook_endpoint_update_dto' when calling WebhookEndpointApi.operational_webhook_controller_update"
      end
      # resource path
      local_var_path = '/v1/operational-webhook/endpoint/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(operational_webhook_endpoint_update_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'OperationalWebhookEndpointResponseDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WebhookEndpointApi.operational_webhook_controller_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhookEndpointApi#operational_webhook_controller_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Set Operational Webhook Endpoint Headers
    # @param id [String] The endpoint ID or UID
    # @param operational_webhook_endpoint_headers_in_dto [OperationalWebhookEndpointHeadersInDto] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def operational_webhook_controller_update_headers(id, operational_webhook_endpoint_headers_in_dto, opts = {})
      operational_webhook_controller_update_headers_with_http_info(id, operational_webhook_endpoint_headers_in_dto, opts)
      nil
    end

    # Set Operational Webhook Endpoint Headers
    # @param id [String] The endpoint ID or UID
    # @param operational_webhook_endpoint_headers_in_dto [OperationalWebhookEndpointHeadersInDto] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def operational_webhook_controller_update_headers_with_http_info(id, operational_webhook_endpoint_headers_in_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhookEndpointApi.operational_webhook_controller_update_headers ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WebhookEndpointApi.operational_webhook_controller_update_headers"
      end
      # verify the required parameter 'operational_webhook_endpoint_headers_in_dto' is set
      if @api_client.config.client_side_validation && operational_webhook_endpoint_headers_in_dto.nil?
        fail ArgumentError, "Missing the required parameter 'operational_webhook_endpoint_headers_in_dto' when calling WebhookEndpointApi.operational_webhook_controller_update_headers"
      end
      # resource path
      local_var_path = '/v1/operational-webhook/endpoint/{id}/headers'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(operational_webhook_endpoint_headers_in_dto)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WebhookEndpointApi.operational_webhook_controller_update_headers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhookEndpointApi#operational_webhook_controller_update_headers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
